versions/HogwartsStoryWriter_v2.json
{
  "name": "HogwartsStoryWriter",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -896,
        224
      ],
      "id": "eb0b80a8-bce5-47e2-aae3-62067bff3ae7",
      "name": "Input message",
      "webhookId": "74b4731b-2233-4c93-8ee7-f13c5848413a",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.characters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1856,
        1040
      ],
      "id": "e65f9340-4938-4131-baad-0e0ceedb835f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"characters\": [\n    {\n      \"character_name\": \"Лира Малфори\",\n      \"character_role\": \"второстепенный персонаж, тайная союзница сомнительных сил\",\n      \"character_goal\": \"раскрыть древнее пророчество о падении старых магических династий и использовать его для восстановления чести своего клана\",\n      \"character_relationships\": \"далёкая родственница семьи Малфоев, подозреваемая в связях с остатками сторонников Тёмного Лорда, но на деле преследует собственные цели; проявляет интерес к Гарри Поттеру как к «ключу» к пророчеству, но не доверяет ни одной из сторон конфликта\",\n      \"character_short_description\": \"Темноволосая волшебница с острыми чертами лица и холодным взглядом, Лира обучалась в Дурмстранге, чтобы избежать позора имени Малфори. Владеет редкой формой теневой магии, передаваемой по женской линии. Её мотивы остаются скрытыми, но её действия часто оказывают решающее влияние на ход событий.\"\n    },\n    {\n      \"character_name\": \"Каспер Найтли, известный как 'Теневой Писец'\",\n      \"character_role\": \"второстепенный персонаж, хранитель запретных знаний\",\n      \"character_goal\": \"сохранить и расшифровать древние магические тексты, предотвратить уничтожение магической памяти мира\",\n      \"character_relationships\": \"никогда не вступает в прямые союзы, но тайно помогает как Дамблдору, так и Снейпу, передавая информацию через зачарованные книги; подозревается министерством в симпатиях к тёмным искусствам, хотя на деле нейтрален и руководствуется долгом перед историей магии\",\n      \"character_short_description\": \"Пожилой, сгорбленный мужчина с пронзительными серыми глазами, Каспер живёт в подвалах библиотеки Хогвартса, недоступных большинству. Он не преподаёт, но все профессора знают, что к нему стоит обращаться за расшифровкой древних рун. Носит плащ из переплетённой паутины и волчьего меха — символ его изоляции и связи с запретным знанием.\"\n    },\n    {\n      \"character_name\": \"Элара Вейн\",\n      \"character_role\": \"основной персонаж, новая ученица Хогвартса с необычным даром\",\n      \"character_goal\": \"понять природу своего дара — способности слышать «голоса заклинаний» — и не дать этому дару сломать её разум\",\n      \"character_relationships\": \"дружит с Гермионой, которая помогает ей в исследованиях; вызывает настороженность у профессора Макгонагалл из-за нестабильности магии; тайно наставляется профессором Снейпом, который видит в ней отражение Лили Поттер\",\n      \"character_short_description\": \"Худая девушка с каштановыми кудрями и шрамом в форме молнии на виске (след древнего ритуала), Элара поступила в Хогвартс в возрасте 15 лет. Её дар позволяет ей слышать заклинания до их произнесения и чувствовать их истинный смысл, но каждый новый уровень понимания приближает её к безумию. Её путь — это борьба за сохранение себя в мире, где магия начинает говорить слишком громко.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        464
      ],
      "id": "a331155d-e62c-430a-9989-8a4c49dbb9a6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"spells\": [\n{\n\"spell_name\": \"Expelliarmus\",\n\"spell_action\": \"Выбивает предмет (обычно палочку) из рук противника с сильным толчком.\",\n\"spell_goal\": \"Обезоруживание противника в дуэли или конфликте.\",\n\"spell_short_description\": \"Классическое заклинание-разоружитель, создающее алую вспышку и вырывающее палочку из руки цели.\"\n},\n{\n\"spell_name\": \"Reparo\",\n\"spell_action\": \"Восстанавливает сломанные предметы, соединяя их фрагменты и возвращая первоначальную форму.\",\n\"spell_goal\": \"Быстрый ремонт поврежденных объектов, от посуды до сложных магических артефактов.\",\n\"spell_short_description\": \"Всеобщее чинящее заклинание, способное сращивать стекло, дерево, металл и иные материалы без видимых швов.\"\n},\n{\n\"spell_name\": \"Obscurus Reverso\",\n\"spell_action\": \"Высвобождает волну серебристо-белого света, которая рассеивает тёмные магические сгустки, снимает проклятия и нейтрализует скрытые тёмные чары.\",\n\"spell_goal\": \"Очищение объектов, помещений или существ от остаточного воздействия тёмной магии, включая тёмные артефакты и проклятые метки.\",\n\"spell_short_description\": \"Новое мощное антитёмное заклинание, требующее истинного намерения и чистой души; оно не действует на живые проклятия вроде Круциатуса, но превосходно справляется с магической коррозией и рунической скверной.\"\n},\n{\n\"spell_name\": \"Tempora Stasis\",\n\"spell_action\": \"Создаёт вокруг цели едва заметную мерцающую сферу, в которой время резко замедляется до почти полной остановки для всех материальных объектов и магических процессов.\",\n\"spell_goal\": \"Остановка падающих предметов, заморозка взрывов или ловушек, создание временной защиты от летящих заклинаний.\",\n\"spell_short_description\": \"Новое заклинание пространственно-временной магии; стазис-поле длится максимум 15 секунд и не может быть наложено на живых существ (они ощущают лишь лёгкое торможение), но идеально для обезвреживания мин или замедления цепных реакций.\"\n}\n]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        -240
      ],
      "id": "643ed3e7-3603-4ec3-85c0-b906c1ef200e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"potions\": [\n{\n\"potion_name\": \"Оборотное зелье\",\n\"potion_action\": \"Превращает пьющего в другого человека на один час. Для превращения необходимо добавить в зелье частицу того, в кого нужно превратиться (волос, ноготь и т.п.).\",\n\"potion_goal\": \"Используется для маскировки, шпионажа и обмана, позволяет временно принять облик другого человека.\",\n\"potion_short_description\": \"Жидкость цвета грязной глины, которая бурлит и меняет оттенок при добавлении ингредиентов. Готовое зелье напоминает кипящую грязь, но после превращения принимает облик цели.\"\n},\n{\n\"potion_name\": \"Феликс Фелицис\",\n\"potisn_action\": \"Вызывает состояние невероятной удачи, при котором все действия пьющего оказываются успешными. Эффект длится от нескольких часов до суток в зависимости от дозы. При передозировке вызывает головокружение и безрассудство.\",\n\"potion_goal\": \"Применяется для достижения сложных целей, когда удача критически необходима (экзамены, дуэли, поиск сокровищ).\",\n\"potion_short_description\": \"Золотистая, переливающаяся как жидкое золото жидкость, которая танцует в флаконе. Говорят, что её блеск завораживает, а вкус напоминает растопленный ирис.\"\n},\n{\n\"potion_name\": \"Зелье зеркальной памяти\",\n\"potion_action\": \"При добавлении капли крови умершего человека зелье превращается в серебристую дымку, проецирующую последние 10 минут жизни жертвы от первого лица. Воспроизводится только то, что видели глаза умершего.\",\n\"potion_goal\": \"Используется аврорами и следователями для раскрытия убийств, определения преступника и обстоятельств смерти.\",\n\"potion_short_description\": \"Прозрачное, как горный хрусталь, зелье без запаха. При контакте с кровью оно вспыхивает серебристым светом, и в воздухе возникают призрачные образы прошлого.\"\n},\n{\n\"potion_name\": \"Зелье фантомной боли\",\n\"potion_action\": \"После употребления жертвой создатель зелья, используя магический фокус (например, волос или кровь жертвы), может мысленно вызывать у жертвы острую боль в любом участке тела. Боль длится несколько минут и усиливается при концентрации.\",\n\"potion_goal\": \"Применяется для пыток, вынуждения признаний, наказания или контроля над жертвой на расстоянии.\",\n\"potion_short_description\": \"Тёмно-красное маслянистое зелье с запахом горелой плоти и металла. После его употребления жертва чувствует невидимую нить, тянущуюся к создателю.\"\n}\n]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1536,
        -912
      ],
      "id": "4369221b-8568-4ad4-b673-1f1a6592c9b0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "include_answer",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1472,
        1328
      ],
      "id": "d38b16f8-495d-4f87-bb83-989c074ab79b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WaybWc85fkH00Mf7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.spells",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1856,
        336
      ],
      "id": "a35178d7-2cac-4101-85cd-58b5757e65af",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.potions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1856,
        -352
      ],
      "id": "2002f5c1-7970-4e98-967a-fb8596fb0ac5",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"chapters_count\": 30,\n\"characters_count\": 40 ,\n\"spells_count\": 30 ,\n\"potions_count\": 15\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        -176
      ],
      "id": "8028f1d4-0e14-4697-8cd6-c10bf54ad793",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Ты - специались по анализу пользовательских запросов пользовательских запросов для написания книг по вселенной Гарри Поттера и Хогвартса.\n\n# Твоя задача:\nПроанализировать и разобрать пользовательский запрос для формирования книги на составляющие. Ты должен извлечь из запроса требования к написанию книги, например: главных персонажей, время, жанр, основную сюжетную линию, требования к произведению и т.д.\n\n# Строго запрещено:\n1. Самостоятельно придумывать новую информацию\n2. Искажать переданные пользователем факты\n\n# Для описания  требований используй не более 200 токенов!!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        0
      ],
      "id": "844e3036-3212-4d15-9fd4-f92988154a2f",
      "name": "prompt_analyzer",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=plot requirements: \n```\n{{ $json.prompt_analyzer }}\n```",
        "options": {
          "systemMessage": "=Ты - специлист по разработке интересных и захватывающих сюжетов по вселенной Гарри Поттера. \n\n# Твоя задача :\nпо определенным требованиям к произвдеению создать интересный и захватывающий сюжет для написания книги на 30 глав.  Дополнительно необходимо указать, сколько главных героев и сколько второстепенных героев должно быть в книге.\n\n# Требования к сюжету:\n1. Разработать уникальный и неповторимый сюжет\n2. В произвдеении должны встречаться как основные, так и второстепенные персонажи\n3. Сюжет должен быть законченным и логически завершенным.\n4. Общий объем произведения - примерно 30 глав\n5. В основе сюжета - требования, сформированные предыдущим агентом. Разрешается в дополнения к предыдущим требованиям придумывать новые повороты и особенности сюжета. Однако строгое требования - основной акцент именно на требованиях, сформированных предыдущим агентом\n\n# Требования к длине сюжета:\nДля формирования сюжета используй не более 400 токенов!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        0
      ],
      "id": "1b6d800b-3dcc-4ea2-82b8-4a3180108d1e",
      "name": "plot_creator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=plot requirements: \n```\n{{ $json.plot_analyzer_creator }}\n```\n\nplot: \n```\n{{ $json.plot_creator }}\n```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты - специлист по анализу сюжетов произведений по Вселенной Гарри Поттера\n\n# Твоя задача: \nпроанализировать сюжет, разработанный предыдущим агентом \"Plot creator\", и ответить на несколько вопросов.\n\n# Требования к ответам\nОтветы в первую очередь должны основываться на сюжете, подготовлинном агентом \"Plot creator\", и не должны противоречить ему (за исключением минимальных значений, указанных ниже в списке вопросов).\n\n\n# Формате ответа:\nОтвет представь в json-формате со следующими ключами:\n{\n\"chapters_count\": ... ,\n\"characters_count\": ... ,\n\"spells_count\": ... ,\n\"potions_count\": ...\n}\n\n# Вопросы, на которые необходимо ответить:\n1. Сколько глав в разрабатываемой книге? (минимальное количество - 20) (ключ - chapters_count)\n2. Сколько различных персонажей будет в разрабатываемом произведении? (минимальное количество - 30) (ключ - characters_count)\n3. Сколько различных заклинаний будет в разрабатываемом произведении? (минимальное количество - 40) (ключ - spells_count)\n4. Сколько различных зелий будет в разрабатываемом произведении? (минимальное количество - 20) (ключ - potions_count)\n\n\n# Пример ответа:\n{\n\"chapters_count\": 30,\n\"characters_count\": 40 ,\n\"spells_count\": 30 ,\n\"potions_count\": 15\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "a38b3514-e37b-4b0e-aaaf-3a774794c27e",
      "name": "plot_params_creator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ready plot:\n```\n{{ $node[\"plot_creator_cache\"].json.plot_creator }}\n```",
        "options": {
          "systemMessage": "=# Ты - специалист по разработке главных и второстепенных персонажей во вселенной Гарри Поттера\n\n# Твоя задача - взять сюжет произведения на {{ $json.plot_params_creator.chapters_count }} глав и придумать всех основных и второстепенных персонажей. Количество генерируемых персонажей - строго {{ $json.plot_params_creator.characters_count }}\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнеуровневый ключ json-файла: \"characters\", под этим ключом - список json-объектов, где каждый объект - описание отдельного персонажа. В описание входят следующие ключи:\n    1. \"character_name\"\n    2. \"character_role\"\n    3. \"character_goal\"\n    4. \"character_relationships\"\n    5. \"character_short_description\"\n\n# Требования к разработке каждого персонажа:\n1. Сформируй имя персонажа и (если есть желание) - кличку персонажа (поле \"character_name\")\n2. Укажи роль персонажа в произведении (поле \"character_role\")\n3. Укажи цели, задачи персонажа (поле \"character_goal\")\n4. Подготовь краткое описание персонажа (поле \"character_short_description\")\n\n# Обязательные требования к генерации:\n1. Все персонажи и их черты должны гармонично вписываться в сюжет\n2. Все персонажи должны быть закончеными личностями. Не генерируй слишком тривиальных персонажей.\n3. НЕ используй уже готовых персонажей, созданных другими авторами: придумывай персонажей с нуля\n4. На каждое описание персонажа трать не более 300 токенов!\n\n# Образец ответа:\n{\n  \"characters\": [\n    {\n      \"character_name\": \"Лира Малфори\",\n      \"character_role\": \"второстепенный персонаж, тайная союзница сомнительных сил\",\n      \"character_goal\": \"раскрыть древнее пророчество о падении старых магических династий и использовать его для восстановления чести своего клана\",\n      \"character_short_description\": \"Темноволосая волшебница с острыми чертами лица и холодным взглядом, Лира обучалась в Дурмстранге, чтобы избежать позора имени Малфори. Владеет редкой формой теневой магии, передаваемой по женской линии. Её мотивы остаются скрытыми, но её действия часто оказывают решающее влияние на ход событий.\"\n    },\n    {\n      \"character_name\": \"Каспер Найтли, известный как 'Теневой Писец'\",\n      \"character_role\": \"второстепенный персонаж, хранитель запретных знаний\",\n      \"character_goal\": \"сохранить и расшифровать древние магические тексты, предотвратить уничтожение магической памяти мира\",\n      \"character_short_description\": \"Пожилой, сгорбленный мужчина с пронзительными серыми глазами, Каспер живёт в подвалах библиотеки Хогвартса, недоступных большинству. Он не преподаёт, но все профессора знают, что к нему стоит обращаться за расшифровкой древних рун. Носит плащ из переплетённой паутины и волчьего меха — символ его изоляции и связи с запретным знанием.\"\n    },\n    {\n      \"character_name\": \"Элара Вейн\",\n      \"character_role\": \"основной персонаж, новая ученица Хогвартса с необычным даром\",\n      \"character_goal\": \"понять природу своего дара — способности слышать «голоса заклинаний» — и не дать этому дару сломать её разум\",\n      \"character_short_description\": \"Худая девушка с каштановыми кудрями и шрамом в форме молнии на виске (след древнего ритуала), Элара поступила в Хогвартс в возрасте 15 лет. Её дар позволяет ей слышать заклинания до их произнесения и чувствовать их истинный смысл, но каждый новый уровень понимания приближает её к безумию. Её путь — это борьба за сохранение себя в мире, где магия начинает говорить слишком громко.\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        640
      ],
      "id": "c7b9d747-2371-40b9-93d2-f81de665b435",
      "name": "character_to_plot",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Список персонажей:\n```\n{{ JSON.stringify($node[\"character_to_plot_cache\"].json.output)  }}\n```\n\nСюжет произведения:\n```\n{{ $('plot_creator_cache').item.json.plot_creator }}\n```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Ты - специалист по разработке главных и второстепенных персонажей во вселенной Гарри Поттера, и проверке их уместности сюжету\n\n# Твоя задача:\n- взять весь список главных героев\n- взять сюжет произведения на {{ $('character_to_plot_cache').item.json.plot_params_creator.characters_count }} глав\n- учесть, что количество генерируемых персонажей - строго {{ $('plot_params_creator_cache').item.json.plot_params_creator.characters_count }}\n- Выполнить следующие проверки:\n  1. Убедиться, что в уже созданных персонажах нет противоречий и ошибок, и что эти персонажи хорошо вписываются в сюжет разрабатываемого произвденеия\n  2. Убедиться, что количество сгенерированных персонажей - не менее{{ $('plot_params_creator_cache').item.json.plot_params_creator.characters_count }}.\n  3. Если кол-во сгенерированных персонажей менее {{ $('plot_params_creator_cache').item.json.plot_params_creator.characters_count }}, то сгенерировать дооплнительное количество персонажей так, чтобы в сумме было ровно {{ $('plot_params_creator_cache').item.json.plot_params_creator.characters_count }}.\n- В json-ответе привести всех пересонажей: как сгенерированных ранее, так и дополнительно сгенерированных тобой. Убедись, что всего в итоге сгенерировано {{ $('plot_params_creator_cache').item.json.plot_params_creator.characters_count }} персонажей.\n\n# Требования к разработке каждого персонажа:\n1. Сформируй имя персонажа и (если есть желание) - кличку персонажа (поле \"character_name\")\n2. Укажи роль персонажа в произведении (поле \"character_role\")\n3. Укажи цели, задачи персонажа (поле \"character_goal\")\n4. Укажи отношение персонажа к другим персонажам (поле \"character_relationships\")\n5. Подготовь краткое описание персонажа (поле \"character_short_description\")\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнейровневый ключ json-файла: \"characters\", под этим ключом - список json-объектов, где каждый объект - описание отдельного персонажа. В описание входят следующие ключи:\n    1. \"character_name\"\n    2. \"character_role\"\n    3. \"character_goal\"\n    4. \"character_relationships\"\n    5. \"character_short_description\"\n\n# Обязательные требования к генерации:\n1. Все персонажи и их черты должны гармонично вписываться в сюжет\n2. Все персонажи должны быть закончеными личностями. Не генерируй слишком тривиальных персонажей.\n3. НЕ используй уже готовых персонажей, созданных другими авторами: придумывай персонажей с нуля\n4. На каждое описание персонажа трать не более 300 токенов!\n\n# Образец ответа:\n{\n  \"characters\": [\n    {\n      \"character_name\": \"Лира Малфори\",\n      \"character_role\": \"второстепенный персонаж, тайная союзница сомнительных сил\",\n      \"character_goal\": \"раскрыть древнее пророчество о падении старых магических династий и использовать его для восстановления чести своего клана\",\n      \"character_relationships\": \"далёкая родственница семьи Малфоев, подозреваемая в связях с остатками сторонников Тёмного Лорда, но на деле преследует собственные цели; проявляет интерес к Гарри Поттеру как к «ключу» к пророчеству, но не доверяет ни одной из сторон конфликта\",\n      \"character_short_description\": \"Темноволосая волшебница с острыми чертами лица и холодным взглядом, Лира обучалась в Дурмстранге, чтобы избежать позора имени Малфори. Владеет редкой формой теневой магии, передаваемой по женской линии. Её мотивы остаются скрытыми, но её действия часто оказывают решающее влияние на ход событий.\"\n    },\n    {\n      \"character_name\": \"Каспер Найтли, известный как 'Теневой Писец'\",\n      \"character_role\": \"второстепенный персонаж, хранитель запретных знаний\",\n      \"character_goal\": \"сохранить и расшифровать древние магические тексты, предотвратить уничтожение магической памяти мира\",\n      \"character_relationships\": \"никогда не вступает в прямые союзы, но тайно помогает как Дамблдору, так и Снейпу, передавая информацию через зачарованные книги; подозревается министерством в симпатиях к тёмным искусствам, хотя на деле нейтрален и руководствуется долгом перед историей магии\",\n      \"character_short_description\": \"Пожилой, сгорбленный мужчина с пронзительными серыми глазами, Каспер живёт в подвалах библиотеки Хогвартса, недоступных большинству. Он не преподаёт, но все профессора знают, что к нему стоит обращаться за расшифровкой древних рун. Носит плащ из переплетённой паутины и волчьего меха — символ его изоляции и связи с запретным знанием.\"\n    },\n    {\n      \"character_name\": \"Элара Вейн\",\n      \"character_role\": \"основной персонаж, новая ученица Хогвартса с необычным даром\",\n      \"character_goal\": \"понять природу своего дара — способности слышать «голоса заклинаний» — и не дать этому дару сломать её разум\",\n      \"character_relationships\": \"дружит с Гермионой, которая помогает ей в исследованиях; вызывает настороженность у профессора Макгонагалл из-за нестабильности магии; тайно наставляется профессором Снейпом, который видит в ней отражение Лили Поттер\",\n      \"character_short_description\": \"Худая девушка с каштановыми кудрями и шрамом в форме молнии на виске (след древнего ритуала), Элара поступила в Хогвартс в возрасте 15 лет. Её дар позволяет ей слышать заклинания до их произнесения и чувствовать их истинный смысл, но каждый новый уровень понимания приближает её к безумию. Её путь — это борьба за сохранение себя в мире, где магия начинает говорить слишком громко.\"\n    }\n  ]\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        624
      ],
      "id": "99c0ce17-615a-427c-b49b-602e80d78de7",
      "name": "character_checker",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Проанализируй персонажа: \n{{ $json.character_name }}. \n# Его назначение в сюжете: \n{{ $json.character_goal }}\n# Его роль в сюжете: \n{{ $json.character_role }}\n# Его краткое описание: \n{{ $json.character_short_description }}",
        "options": {
          "systemMessage": "=# Ты - специалист по созданию и разработке детально-продуманных персонажей по Вселенной Гарри Поттера.\n\n# Твоя задача:\nВзять краткое описание персонажа, а также общий сюжет произведения, и на его основании сформировать полное, подробное, детальное описание персонажа\n\n# Требование к описанию:\n1. Имя и возраст персонажа — полное имя, возможные прозвища, возраст и его восприятие времени (например, чувствует себя моложе/старше своих лет).\n2. Внешность — детальное описание внешности: рост, телосложение, черты лица, цвет волос и глаз, особенности (шрамы, родинки, манера держаться), стиль одежды.\n3. Характер и личность — ключевые черты характера (например, целеустремлённость, цинизм, доброта, тревожность), манера общения, эмоциональная устойчивость, моральные принципы.\n4. Происхождение и бэкграунд — откуда родом, социальное происхождение, семейное положение, ключевые события из прошлого, повлиявшие на личность.\n5. Мотивация и цели — чего персонаж хочет достичь, какие внутренние или внешние силы им движут (месть, любовь, выживание, справедливость и т.д.).\n6. Слабости и конфликты — внутренние противоречия, страхи, комплексы, уязвимости; внешние враги или препятствия.\n7. Роль в сюжете — является ли главным героем, антагонистом, наставником, союзником и т.д.; как влияет на развитие событий.\n8. Символическое значение (если уместно) — может ли персонаж олицетворять какую-то идею, социальное явление или архетип (например, бунтарь, жертва, спаситель).\n\nПерсонаж: [Описание концепции персонажа — например, \"учёный, который скрывает своё прошлое в секретной лаборатории\", или \"подросток из будущего, способный видеть эмоции других людей\"].\n\nПиши в художественном, но ясном стиле, подходящем для авторского библиотечного описания\n\n# Формат ответа:\nОтвет предоставь в качестве json-структуры, где ключ - имя персонажа, а значение - сгенерированное тобой описание\n\n# Общий сюжет произведения:\n{{ $('plot_creator_cache').item.json.plot_creator }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2160,
        1216
      ],
      "id": "ff28e4ab-f202-42ba-b12a-374b01b1d14c",
      "name": "character_creater",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Проанализируй заклинание: \n{{ $json.spell_name }}. \n# Как воздействует заклинание: \n{{ $json.spell_action }}. \n# Цель заклинания - зачем оно применяется?\n{{ $json.spell_goal }}. \n# Краткое художественное описание заклинания: \n{{ $json.spell_short_description }}. \n",
        "options": {
          "systemMessage": "=# Ты - специалист по созданию и разработке детально-продуманных заклинаний по Вселенной Гарри Поттера.\n\n# Твоя задача:\nВзять краткое описание заклинания, а также общий сюжет произведения, и на его основании сформировать полное, подробное, детальное описание заклинания\n\n# Требование к описанию:\n1. Название заклинания\n2. Физическое описание выполнения заклинания и его внешнего вида: цвет, движение палочкой, моральное состояние волшебника и т.д.\n3. Происхождение и бэкграунд заклинания — откуда родом, кто придумал?\n4. Для чего нужно заклинание? Для чего исопльзуется?\n5. Описание воздействия заклинания на цель\n6. Роль в сюжете — для чего может использоваться, зачем нужно? \n\nОписание заклинания создай в художественном, но ясном стиле, подходящем для авторского библиотечного описания\n\n# Формат ответа:\nОтвет предоставь в качестве json-структуры, где ключ - название заклинания, а значение - сгенерированное тобой описание\n\n# Общий сюжет произведения:\n{{ $('plot_creator_cache').item.json.plot_creator }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2176,
        512
      ],
      "id": "7f3f6c4e-9326-4f02-9db5-d6b7b29c8860",
      "name": "spell_creater",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ready plot: \n```\n{{ $('plot_creator_cache').item.json.plot_creator }}\n```",
        "options": {
          "systemMessage": "=# Ты - специалист по генерации заклинаний во вселенной Гарри Поттера\n\n# Твоя задача - взять сюжет произведения на {{ $json.plot_params_creator.chapters_count }} глав и разработать заклинания, которые будут использоваться в книге. Самостоятельно придумай{{ $json.plot_params_creator.spells_count - 10 }} новых заклинаний, котрых раньше никогда не было, а также используй не менее 10 заклинаний из уже написанных произведений\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнеуровневый ключ json-файла: \"spells\", под этим ключом - список json-объектов, где каждый объект - описание отдельного заклинания. В описание входят следующие ключи:\n    1. \"spell_name\"\n    2. \"spell_action\"\n    3. \"spell_goal\"\n    4. \"spell_short_description\"\n\n# Требования к разработке каждого заклинания:\n1. Сформируй название заклинания (поле \"spell_name\")\n2. Как воздействует заклинание? (поле \"spell_action\")\n3. Укажи цель заклинания - зачем оно применяется? (поле \"spell_goal\")\n4. Приведи краткое художественное описание заклинания (поле \"spell_short_description\")\n\n# Обязательные требования к генерации:\n1. Все заклинания должны гармонично вписываться в сюжет\n2. Все заклинания должны быть закончеными. Не генерируй слишком тривиальные заклинания.\n3. Используй как уже ранее созданные (другими авторами) заклинания, так и полностью новые, которые ты придумаешь сам\n4. На каждое описание заклинания трать не более 300 токенов!\n\n# Образец ответа:\n{\n\"spells\": [\n{\n\"spell_name\": \"Expelliarmus\",\n\"spell_action\": \"Выбивает предмет (обычно палочку) из рук противника с сильным толчком.\",\n\"spell_goal\": \"Обезоруживание противника в дуэли или конфликте.\",\n\"spell_short_description\": \"Классическое заклинание-разоружитель, создающее алую вспышку и вырывающее палочку из руки цели.\"\n},\n{\n\"spell_name\": \"Reparo\",\n\"spell_action\": \"Восстанавливает сломанные предметы, соединяя их фрагменты и возвращая первоначальную форму.\",\n\"spell_goal\": \"Быстрый ремонт поврежденных объектов, от посуды до сложных магических артефактов.\",\n\"spell_short_description\": \"Всеобщее чинящее заклинание, способное сращивать стекло, дерево, металл и иные материалы без видимых швов.\"\n},\n{\n\"spell_name\": \"Obscurus Reverso\",\n\"spell_action\": \"Высвобождает волну серебристо-белого света, которая рассеивает тёмные магические сгустки, снимает проклятия и нейтрализует скрытые тёмные чары.\",\n\"spell_goal\": \"Очищение объектов, помещений или существ от остаточного воздействия тёмной магии, включая тёмные артефакты и проклятые метки.\",\n\"spell_short_description\": \"Новое мощное антитёмное заклинание, требующее истинного намерения и чистой души; оно не действует на живые проклятия вроде Круциатуса, но превосходно справляется с магической коррозией и рунической скверной.\"\n},\n{\n\"spell_name\": \"Tempora Stasis\",\n\"spell_action\": \"Создаёт вокруг цели едва заметную мерцающую сферу, в которой время резко замедляется до почти полной остановки для всех материальных объектов и магических процессов.\",\n\"spell_goal\": \"Остановка падающих предметов, заморозка взрывов или ловушек, создание временной защиты от летящих заклинаний.\",\n\"spell_short_description\": \"Новое заклинание пространственно-временной магии; стазис-поле длится максимум 15 секунд и не может быть наложено на живых существ (они ощущают лишь лёгкое торможение), но идеально для обезвреживания мин или замедления цепных реакций.\"\n}\n]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -80
      ],
      "id": "79e3fc44-a434-4f74-a7a4-58d97d3b3170",
      "name": "spell_to_plot",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ready plot:\n```\n{{ $('plot_creator_cache').item.json.plot_creator }}\n```",
        "options": {
          "systemMessage": "=# Ты - специалист по генерации зелий во вселенной Гарри Поттера\n\n# Твоя задача - взять сюжет произведения на {{ $json.plot_params_creator.chapters_count }} глав, разработанный предыдущим агентом, и разработать зелья, которые будут использоваться в книге. Самостоятельно придумай {{ $json.plot_params_creator.potions_count - 5 }} новых зелий, котрых раньше никогда не было, а также используй не менее 5 зелий из уже написанных произведений\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнеуровневый ключ json-файла: \"potions\", под этим ключом - список json-объектов, где каждый объект - описание отдельного зелья. В описание входят следующие ключи:\n    1. \"potion_name\"\n    2. \"potion_action\"\n    3. \"potion_goal\"\n    4. \"potion_short_description\"\n\n# Требования к разработке каждого зелья:\n1. Сформируй название зелья (поле \"potion_name\")\n2. Как воздействует зелье? (поле \"potion_action\")\n3. Укажи цель зелья - зачем оно применяется? (поле \"potion_goal\")\n4. Приведи краткое художественное описание зелья (поле \"potion_short_description\")\n\n# Обязательные требования к генерации:\n1. Все зелья должны гармонично вписываться в сюжет\n2. Все зелья должны быть закончеными. Не генерируй слишком тривиальные зелья.\n3. Используй как уже ранее созданные (другими авторами) зелья, так и полностью новые, которые ты придумаешь сам\n4. На каждое описание зелья трать не более 300 токенов!\n\n# Образец ответа:\n{\n\"potions\": [\n{\n\"potion_name\": \"Оборотное зелье\",\n\"potion_action\": \"Превращает пьющего в другого человека на один час. Для превращения необходимо добавить в зелье частицу того, в кого нужно превратиться (волос, ноготь и т.п.).\",\n\"potion_goal\": \"Используется для маскировки, шпионажа и обмана, позволяет временно принять облик другого человека.\",\n\"potion_short_description\": \"Жидкость цвета грязной глины, которая бурлит и меняет оттенок при добавлении ингредиентов. Готовое зелье напоминает кипящую грязь, но после превращения принимает облик цели.\"\n},\n{\n\"potion_name\": \"Феликс Фелицис\",\n\"potion_action\": \"Вызывает состояние невероятной удачи, при котором все действия пьющего оказываются успешными. Эффект длится от нескольких часов до суток в зависимости от дозы. При передозировке вызывает головокружение и безрассудство.\",\n\"potion_goal\": \"Применяется для достижения сложных целей, когда удача критически необходима (экзамены, дуэли, поиск сокровищ).\",\n\"potion_short_description\": \"Золотистая, переливающаяся как жидкое золото жидкость, которая танцует в флаконе. Говорят, что её блеск завораживает, а вкус напоминает растопленный ирис.\"\n},\n{\n\"potion_name\": \"Зелье зеркальной памяти\",\n\"potion_action\": \"При добавлении капли крови умершего человека зелье превращается в серебристую дымку, проецирующую последние 10 минут жизни жертвы от первого лица. Воспроизводится только то, что видели глаза умершего.\",\n\"potion_goal\": \"Используется аврорами и следователями для раскрытия убийств, определения преступника и обстоятельств смерти.\",\n\"potion_short_description\": \"Прозрачное, как горный хрусталь, зелье без запаха. При контакте с кровью оно вспыхивает серебристым светом, и в воздухе возникают призрачные образы прошлого.\"\n},\n{\n\"potion_name\": \"Зелье фантомной боли\",\n\"potion_action\": \"После употребления жертвой создатель зелья, используя магический фокус (например, волос или кровь жертвы), может мысленно вызывать у жертвы острую боль в любом участке тела. Боль длится несколько минут и усиливается при концентрации.\",\n\"potion_goal\": \"Применяется для пыток, вынуждения признаний, наказания или контроля над жертвой на расстоянии.\",\n\"potion_short_description\": \"Тёмно-красное маслянистое зелье с запахом горелой плоти и металла. После его употребления жертва чувствует невидимую нить, тянущуюся к создателю.\"\n}\n]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -768
      ],
      "id": "32dce8ca-5396-4580-9691-2941a3df6519",
      "name": "potion_to_plot",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Проанализируй зелье: \n{{ $json.potion_name }}. \n# Описание воздействия зелья:\n{{ $json.potion_action }}. \n# Цель зелья - зачем оно применяется\n{{ $json.potion_goal }}. \n# Краткое, художественное описание зелья\n{{ $json.potion_short_description }}. ",
        "options": {
          "systemMessage": "=# Ты - специалист по созданию и разработке детально-продуманных зелий по Вселенной Гарри Поттера.\n\n# Твоя задача:\nВзять краткое описание зелья, а также общий сюжет произведения, и на его основании сформировать полное, подробное, детальное описание зелья\n\n# Требование к описанию:\n1. Название зелья\n2. Внешний вид — детальное описание внешнего вида зелья: цвет, запах, объемы бутылочек\n3. Происхождение и бэкграунд зелья — откуда родом, создатель зелья\n4. Для чего нужно зелье? Для чего исопльзуется?\n5. Описание воздействия зелья на принявшего\n6. Роль в сюжете — для чего может использоваться, зачем нужно? \n\nОписание зелья создай в художественном, но ясном стиле, подходящем для авторского библиотечного описания\n\n# Формат ответа:\nОтвет предоставь в качестве json-структуры, где ключ - название зелья, а значение - сгенерированное тобой описание\n\n# Общий сюжет произведения:\n{{ $('plot_creator_cache').item.json.plot_creator }}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2144,
        -176
      ],
      "id": "e142d793-218c-4e43-aac9-3c835caa743b",
      "name": "potion_creater",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Исходный промпт \nПридумай книгу по вселенной Гарри ПОттера в 16 веке в средневековой Японии. Главный герой - Такеда Мицуши. Жанр - ужастик, триллер, с катанами и волшебными палочками",
        "height": 256,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -288
      ],
      "typeVersion": 1,
      "id": "87cc6f89-e993-499a-9c07-ab939447416a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"chapter_num\": 1,\n    \"chapter_name\": \"Тайна заброшенного коридора\",\n    \"chapter_plot\": \"Герои случайно находят скрытый проход в замке, где обнаруживают древний артефакт. Однако их обнаружение активирует магическую защиту.\",\n    \"chapter_beginning\": \"Глава начинается с того, что главный герой просыпается от странного шума в библиотеке Хогвартса.\",\n    \"chapter_end\": \"Глава заканчивается тем, что герои едва успевают сбежать от ожившей статуи, но теряют артефакт.\",\n    \"chapter_plot_impact\": \"Введение центрального артефакта и намёк на надвигающуюся опасность, закладывается основа для дальнейшего расследования.\",\n    \"next_chapter_connection\": \"В конце главы появляется загадочный незнакомец, который крадёт артефакт; в следующей главе герои начинают его поиски.\",\n    \"previous_chapter_connection\": \"(для первой главы можно оставить пустую строку или написать 'нет')\",\n    \"chapter_characters\": [\"Гарри Поттер\", \"Гермиона Грейнджер\", \"Рон Уизли\"],\n    \"chapter_spells\": [\"Алохомора\", \"Люмос\"],\n    \"chapter_potions\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5168,
        608
      ],
      "id": "7076a081-59e1-49c4-8152-25b19426e982",
      "name": "Structured Output Parser4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_potions_storage",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        -352
      ],
      "id": "ca78099d-217b-4b21-8757-fdb857c89da3",
      "name": "all_potions_storage"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_spells_storage",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        336
      ],
      "id": "a25d3bd5-6b6b-4d4e-95d0-eddd915b4375",
      "name": "all_spells_storage"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_characters_storage",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        1040
      ],
      "id": "cc379b07-496a-4334-94af-983d8dd3e5ae",
      "name": "all_characters_storage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Подготовь оглавление книги в соответствии с инструкциями!\nПриступай!",
        "options": {
          "systemMessage": "=# Ты — опытный сценарист и нарративный дизайнер, специализирующийся на вселенной «Гарри Поттера». Твоя задача — разработать детальный, логичный и увлекательный сюжет для fan-произведения на основе предоставленных материалов.\n\nНиже приведены четыре обязательных элемента, которые ты должен использовать как основу. Твоя генерация должна строго опираться на них, не добавляя ключевых персонажей или магических элементов из канона, если они не указаны в списках.\n\n### 1. Входные данные (заполнены пользователем)\n\n** Анализ пользовательского запроса (основная идея и тональность):**\n```\n{{ $json.prompt_analyzer }}\n```\n\n** Сырой сюжет (основа, структура):**\n```\n{{ $json.plot_creator }}\n```\n\n** Список персонажей (с описанием):**\n```\n{{ JSON.stringify($json.all_characters_storage) }}\n```\n\n** Список заклинаний для обязательного включения:**\n```\n{{ JSON.stringify($json.all_spells_storage) }}\n```\n\n** Список зелий для обязательного включения:**\n```\n{{ JSON.stringify($json.all_potions_storage) }}\n```\n\n---\n\n### 2. Инструкция по генерации\n\nСледуй этому плану шаг за шагом:\n\n#### Шаг 1. Анализ и доработка логики\n1.  Проанализируй «Сырой сюжет» и «Анализ пользовательского запроса». Если в сыром сюжете есть логические дыры или несоответствия с запросом (например, запрос про детектив, а в сыром сюжете нет расследования), устрани их, уточнив причинно-следственные связи.\n2.  Убедись, что центральный конфликт вытекает из характеров персонажей\n\n#### Шаг 2. Генерация подробного сюжета (по главам или актам)\n1. Создай структурированный документ. Используй формат: **Акт 1: Название**, затем главы или сцены.\n2. Количество глав произведения - строго {{ $json.characters_count }}!\n\n**Обязательные требования к содержанию:**\n1.  **Арки персонажей:** Покажи развитие каждого персонажа из списка. Например, если персонаж застенчивый, он должен обрести смелость к кульминации. Их взаимодействие должно составлять эмоциональное ядро истории.\n2.  **Использование заклинаний и зелий:** Каждое заклинание и зелье из предоставленного списка должно быть не просто упомянуто, а *критически важно* для сюжета.\n    *   Если есть *Felix Felicis*, это не должно быть случайной удачей. Это должен быть моральный выбор или рискованная стратегия.\n    *   Если есть *Obliviate*, это должно драматически повлиять на отношения героев или тайну.\n3.  **Каноничность:** Соблюдай законы мира (нет магии телепортации внутри Хогвартса, зелья требуют времени варки, заклинания имеют словесные и безмолвные формы и т.д.).\n4.  **Детализация:** Описывай сцены визуально. Не пиши «они пошли в библиотеку», напиши «они пробрались в Запретную секцию, освещая путь палочкой с *Lumos*, пока манящие шепоты из книг по некромантии пытались отвлечь их».\n\n#### Шаг 3. Структура ответа\n\nВыведи сюжет в следующем формате:\n\n**Название произведения:** (придумай уместное название)\n\n**Логлайн:** (1-2 предложения, суть истории)\n\n**Подробный сюжет:**\n**Акт 1: [Название]**\n*Глава 1. [Название]:*\n[Подробное описание: обстановка, диалоги, действия. Обязательно вплети сюда первое появление ключевых персонажей и первое использование заклинания/зелья из списка.]\n*Глава 2. [Название]:*\n[...]\n\n**Акт 2: [Название]**\n*Глава 3. [Название]:*\n[...]\n(и так далее)\n\n**Акт 3: Кульминация и Развязка**\n*Глава X. [Название]:*\n[...]\n\n**Эпилог (если уместно):**\n[...]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3216,
        320
      ],
      "id": "bbe58fc5-fbb1-49db-9757-7d24497a50d8",
      "name": "main_plot_generator",
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сюжет и комментарии к произведению, полученные предыдущим агентом (вместе с правками к сюжету):\n```\n{{ $('main_plot_validator_cache').item.json.main_plot_validator }}\n```\n",
        "options": {
          "systemMessage": "=# Ты — помощник, который разрабатывает структуру литературного произведения на основе вселенной «Гарри Поттер».\n\n# Перед тобой будут предоставлены:\n    1. Сюжет произведения (краткое или подробное описание всей истории).\n    2. Список персонажей c описаниями (имена, характеристики, роли).\n    3. Список заклинаний, которые могут использоваться.\n    4. Список зелий, которые могут использоваться.\n\n# Твоя задача — создать оглавление произведения в формате JSON. Оглавление должно представлять собой массив объектов, каждый объект соответствует одной главе. В каждой главе необходимо указать:\n    1. Номер главы (порядковый номер, начиная с 1).\n    2. Название главы (ёмкое, отражающее ключевое событие или тему).\n    3. Описание сюжета в главе (подробный пересказ основных событий, которые происходят в этой главе, 15-30 предложений).\n    4. С чего начинается глава (первая сцена или событие, с которого открывается глава).\n    5. С чего заканчивается глава (финальная сцена или событие, завершающее главу, возможно с cliffhanger).\n    6. Влияние главы на общий сюжет произведения (как эта глава продвигает основную историю, какие важные изменения или открытия в ней происходят).\n    7. Связь с последующей главой (как события этой главы подводят к следующей, возможно, прямая завязка или намёк).\n    8. Связь с предыдущей главой (кратко, как эта глава продолжает или развивает события предыдущей).\n    9. Используемые персонажи (список имён персонажей, которые появляются или активно действуют в главе; имена должны строго соответствовать тем, что даны в списке).\n    10. Используемые заклинания (список названий заклинаний, которые применяются в главе; строго из предоставленного списка).\n    11. Используемые зелья (список названий зелий, которые применяются или упоминаются в главе; строго из предоставленного списка).\n\n# Важные требования:\n    1. Все названия персонажей, заклинаний и зелий должны быть взяты только из предоставленных списков. Не добавляй вымышленных имён или заклинаний, если они не указаны.\n    2. Если в главе не используется ни одно заклинание или зелье, оставь соответствующий список пустым ([]).\n    3. Описания сюжета, начала, конца, влияния и связей должны быть связными, логичными и соответствовать общему сюжету произведения.\n    4. Постарайся сделать оглавление целостным: каждая глава должна органично вписываться в общую структуру.\n    5. Убедись, что итоговое количество глав - строго  {{ $node['Merge'].data.plot_params_creator.chapters_count }}\n    6. Обрати внимание, что несмотря на то, что в предложенном для тебя тексте есть правки, тебе нужно взять ТОЛЬКО сам сюжет произведения, и не менять в нем ничего! \n\n# Контекст:\n    1. Список героев и их описания (для контекста):\n    ```\n{{ JSON.stringify($node['Merge'].data.all_characters_storage) }}\n    ```\n    2. Список заклинаний и их описания (для контекста):\n    ```\n{{ JSON.stringify($node['Merge'].data.all_spells_storage) }}\n    ```\n    3. Список зелий и их описания (для контекста):\n    ```\n{{ JSON.stringify($node['Merge'].data.all_potions_storage) }}\n    ```\n\n\n# Формат вывода: JSON-массив объектов. Пример структуры одной главы:\njson\n\n[\n  {\n    \"chapter_num\": 1,\n    \"chapter_name\": \"Тайна заброшенного коридора\",\n    \"chapter_plot\": \"Герои случайно находят скрытый проход в замке, где обнаруживают древний артефакт. Однако их обнаружение активирует магическую защиту.\",\n    \"chapter_beginning\": \"Глава начинается с того, что главный герой просыпается от странного шума в библиотеке Хогвартса.\",\n    \"chapter_end\": \"Глава заканчивается тем, что герои едва успевают сбежать от ожившей статуи, но теряют артефакт.\",\n    \"chapter_plot_impact\": \"Введение центрального артефакта и намёк на надвигающуюся опасность, закладывается основа для дальнейшего расследования.\",\n    \"next_chapter_connection\": \"В конце главы появляется загадочный незнакомец, который крадёт артефакт; в следующей главе герои начинают его поиски.\",\n    \"previous_chapter_connection\": \"(для первой главы можно оставить пустую строку или написать 'нет')\",\n    \"chapter_characters\": [\"Гарри Поттер\", \"Гермиона Грейнджер\", \"Рон Уизли\"],\n    \"chapter_spells\": [\"Алохомора\", \"Люмос\"],\n    \"chapter_potions\": []\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3968,
        -144
      ],
      "id": "56907d6e-18df-4e27-8ee0-27eb702b762b",
      "name": "chapter_generator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Приступай к оценке и валидации предложенного тебе оглавления. ",
        "options": {
          "systemMessage": "=Ты — эксперт по нарративной логике и миру «Гарри Поттера». Твоя задача — провести критическую проверку предоставленного подробного сюжета на основе исходных данных.\n\n### Входные данные (оригинальные материалы)\n\n**Анализ пользовательского запроса:**\n```\n{{ $node['Merge'].json.prompt_analyzer }}\n```\n\n**Сырой сюжет:**\n```\n{{ $node['Merge'].json.plot_creator }}\n```\n\n**Список персонажей (с описанием):**\n```\n{{ JSON.stringify($node['Merge'].json.all_characters_storage) }}\n```\n\n**Список заклинаний (обязательные к использованию):**\n```\n{{ JSON.stringify($node['Merge'].json.all_spells_storage) }}\n```\n\n**Список зелий (обязательные к использованию):**\n```\n{{ JSON.stringify($node['Merge'].json.all_potions_storage) }}\n```\n\n**Строгое количество глав, которое должно быть в сюжете:**\n```\n{{ $node['Merge'].json.plot_params_creator.chapters_count }}\n```\n---\n\n### Сгенерированный сюжет (проверяемый)\n```\n{{ $node['main_plot_generator_cache'].json.main_plot_generator }}\n```\n---\n\n### Инструкция по валидации\n\nВыполни проверку по следующим пунктам. \n\n#### 1. Соответствие пользовательскому запросу\n- Соответствует ли итоговый сюжет заданной тональности, жанру и основной идее?\n- Если запрос содержал конкретные требования (например, «история про двух студентов»), соблюдены ли они?\n- Соответствует ли сюжет требуемым {{ $node['Merge'].json.plot_params_creator.chapters_count }} главам?\n\n#### 2. Логическая связь с сырым сюжетом\n- Сохранены ли ключевые события и структура исходного наброска?\n- Если агент добавил новые элементы, не противоречат ли они сырому сюжету?\n- Есть ли логические дыры, нестыковки в причинно-следственных связях?\n\n#### 3. Использование всех обязательных заклинаний и зелий\n- Составь список: каждое заклинание и зелье из исходного списка должно встречаться в сюжете.\n- Отметь, если какое-то из них отсутствует или упомянуто «для галочки» без значимой роли в сюжете.\n\n#### 4. Раскрытие всех персонажей\n- Каждый ли персонаж из списка появляется в сюжете?\n- Имеют ли они характерные черты, описанные в исходных данных?\n- Прослеживается ли их развитие (арка) на протяжении истории?\n\n#### 5. Каноничность мира\n- Нет ли нарушений законов магии (например, появление несанкционированной телепортации в Хогвартсе, использование Авады Кедаврой не по назначению и т.д.)?\n- Соответствуют ли описания заклинаний, зелий, правил школы канону?\n- Если автор вводит свои элементы (артефакты, организации), не противоречат ли они духу вселенной?\n\n#### 6. Структура и качество повествования\n- Есть ли чёткое деление на акты/главы?\n- Присутствуют ли завязка, развитие, кульминация, развязка?\n- Достаточная ли детализация сцен? (диалоги, описания, внутренние переживания)\n\n### После валидации выполни доработку сюжета, если она необходима: исправь все выявленные недостатки, подготовь исправленный сюжет произведения\n\n#### 7. Формат ответа\nРезультат анализа верни в свободной форме. За основу возьми описание глав, пришедших к тебе от предыдущего агента. Внеси в этот ответ все необходимые изменения и верни полное оглавление!\n---\n\n### Дополнительные указания\n- Будь объективен и критичен, но не придирайся к стилистическим предпочтениям, если они не противоречат исходным требованиям.\n- Если сюжет в целом хорош, но есть мелкие недочёты, внеси небольшие правки, а не выполняй полную перегенерацию"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3456,
        -112
      ],
      "id": "283a5b5e-49f6-46df-9396-b73bb4a6f706",
      "name": "main_plot_validator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Оглавление, разработанное предыдущим агентом:\n```\n{{ $('chapter_generator_cache').item.json.chapter_generator }}\n```\n",
        "options": {
          "systemMessage": "=# Ты — эксперт по нарративной логике и миру «Гарри Поттера». \n\n#Твоя задача:\nпровести критическую проверку оглавления (списка глав с кратким содержанием) на основе исходных данных, исправить все выявленные недочёты и выдать итоговое оглавление в строго заданном JSON-формате.\n\n# Входные данные (предоставлены системой)\n\n    1. Сырой сюжет (исходный набросок, на основе которого строилось оглавление): \n    ```\n    {{ $node['main_plot_validator_cache'].data.main_plot_validator }}\n    ```\n    \n    2. Список персонажей (с описаниями): \n    ```\n    {{ JSON.stringify($node['Merge'].data.all_characters_storage) }}\n    ```\n\n    3. Список обязательных заклинаний (с описаниями):\n    ```\n     {{ JSON.stringify($node['Merge'].data.all_spells_storage) }}\n    ```\n\n    4. Список обязательных зелий (с описаниями):\n    ```\n    {{ JSON.stringify($node['Merge'].data.all_potions_storage) }}\n    ```\n\n    5. Требуемое количество глав: {{ $node['Merge'].data.plot_params_creator.chapters_count }}\n\n\n# Инструкция по валидации\n\nВыполни проверку по следующим пунктам. Если оглавление соответствует пункту — отметь это. Если нет — исправь соответствующую часть оглавления (заголовок, описание, порядок глав).\n1. Соответствие пользовательскому запросу\n\n    1. Соответствует ли оглавление и сюжет каждой главы заданной тональности, жанру, основной идее?\n    2. Совпадает ли количество глав с требуемым? Если нет — добавь или удали главы, сохранив логику сюжета.\n    3. Логическая связь с сырым сюжетом\n        Сохранены ли ключевые события и структура исходного наброска?\n        Если в оглавлении появились новые элементы, не противоречат ли они сырому сюжету?\n        Нет ли логических дыр, нестыковок в последовательности глав?\n    4. Использование всех обязательных заклинаний и зелий\n        Каждое заклинание и зелье из исходных списков должно встречаться в описании хотя бы одной главы.\n        Если какое-то отсутствует — добавь его упоминание со значимой ролью (не «для галочки»).\n      Если упоминание есть, но оно не влияет на сюжет — усилишь его роль в описании главы.\n    5. Раскрытие всех персонажей\n        Каждый ли персонаж из списка появляется в оглавлении? Если нет — добавь эпизод с ним в подходящую главу.\n        Сохранены ли характерные черты, описанные в исходных данных?\n        Прослеживается ли развитие персонажа (арка) по главам? Если нет — добавь соответствующие намёки в описание.\n    6. Каноничность мира\n        Нет ли нарушений законов магии (телепортация в Хогвартсе, неканоничное использование непростительных заклятий и т.п.)?\n        Соответствуют ли описания заклинаний, зелий, правил школы канону?\n        Если автор вводит свои элементы (артефакты, организации), не противоречат ли они духу вселенной? При необходимости — исправь или удали.\n    7. Структура и качество повествования\n        Есть ли чёткое деление на акты/главы? (завязка, развитие, кульминация, развязка)\n        Достаточно ли детализированы описания глав? (диалоги, события, внутренние переживания — в кратком виде, но чтобы была понятна роль главы)\n        Нет ли «воды» или слишком скомканных переходов?\n\n# Формат ответа (строго JSON)\n  Ты должен вернуть только JSON-объект без пояснительного текста до или после. JSON должен иметь следующую структуру:\n    1. Номер главы (порядковый номер, начиная с 1).\n    2. Название главы (ёмкое, отражающее ключевое событие или тему).\n    3. Описание сюжета в главе (подробный пересказ основных событий, которые происходят в этой главе, 15-30 предложений).\n    4. С чего начинается глава (первая сцена или событие, с которого открывается глава).\n    5. С чего заканчивается глава (финальная сцена или событие, завершающее главу, возможно с cliffhanger).\n    6. Влияние главы на общий сюжет произведения (как эта глава продвигает основную историю, какие важные изменения или открытия в ней происходят).\n    7. Связь с последующей главой (как события этой главы подводят к следующей, возможно, прямая завязка или намёк).\n    8. Связь с предыдущей главой (кратко, как эта глава продолжает или развивает события предыдущей).\n    9. Используемые персонажи (список имён персонажей, которые появляются или активно действуют в главе; имена должны строго соответствовать тем, что даны в списке).\n    10. Используемые заклинания (список названий заклинаний, которые применяются в главе; строго из предоставленного списка).\n    11. Используемые зелья (список названий зелий, которые применяются или упоминаются в главе; строго из предоставленного списка).\n\n# Образец ответа:\n```json\n[\n  {\n    \"chapter_num\": 1,\n    \"chapter_name\": \"Тайна заброшенного коридора\",\n    \"chapter_plot\": \"Герои случайно находят скрытый проход в замке, где обнаруживают древний артефакт. Однако их обнаружение активирует магическую защиту.\",\n    \"chapter_beginning\": \"Глава начинается с того, что главный герой просыпается от странного шума в библиотеке Хогвартса.\",\n    \"chapter_end\": \"Глава заканчивается тем, что герои едва успевают сбежать от ожившей статуи, но теряют артефакт.\",\n    \"chapter_plot_impact\": \"Введение центрального артефакта и намёк на надвигающуюся опасность, закладывается основа для дальнейшего расследования.\",\n    \"next_chapter_connection\": \"В конце главы появляется загадочный незнакомец, который крадёт артефакт; в следующей главе герои начинают его поиски.\",\n    \"previous_chapter_connection\": \"(для первой главы можно оставить пустую строку или написать 'нет')\",\n    \"chapter_characters\": [\"Гарри Поттер\", \"Гермиона Грейнджер\", \"Рон Уизли\"],\n    \"chapter_spells\": [\"Алохомора\", \"Люмос\"],\n    \"chapter_potions\": []\n  }\n]\n```\n\n\n# Дополнительные указания\n    Будь объективен и критичен, но не придирайся к стилистическим предпочтениям, если они не противоречат исходным требованиям.\n    Если оглавление в целом хорошее, но есть мелкие недочёты (например, пропущено одно зелье или слабо раскрыт второстепенный персонаж), внеси точечные правки в описания глав, не меняя общей структуры.\n    Старайся сохранить авторский стиль и атмосферу исходного оглавления, исправляя только логические и канонические ошибки.\n    Важно: не придумывай события, которых нет в сыром сюжете, если только они не требуются для исправления ошибок (например, добавить эпизод с недостающим персонажем). В таком случае добавляй минимально необходимое."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4512,
        160
      ],
      "id": "0b81a49e-be63-4621-ab01-583c35b103db",
      "name": "chapter_validator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тебе необходимо преобразовать в json следующее оглавление:\n```\n{{ $node['chapter_validator_cache'].data.chapter_generator }}\n```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Ты — специализированный инструмент для нормализации JSON. \nНа вход ты получаешь текст, который может содержать JSON-подобную структуру (возможно, с синтаксическими ошибками, лишними запятыми, неэкранированными кавычками, отсутствием кавычек у ключей, или обёрнутый в Markdown-блоки типа ответ или ```json). \n\n# Твоя задача — преобразовать их входных данных валидный json, который описывает сюжет глав, связь с другими главами, героев и т.д., и вернуть только валидный JSON без каких-либо дополнительных пояснений, комментариев, пробелов в начале/конце или Markdown-разметки.\n\n# Правила:\n  1. Сохрани все данные без изменений: названия ключей, строковые значения (включая русский текст), порядок элементов в массивах, числа.\n  2. Исправь только синтаксические ошибки, нарушающие валидность JSON:\n  3. Удали лишние запятые (например, после последнего элемента массива или объекта).\n  4. Экранируй двойные кавычки внутри строк (\\\").\n  5. обавь недостающие двойные кавычки вокруг ключей объектов.\n  6. Удали недопустимые управляющие символы.\n  7. Убедись, что все строки в кодировке UTF-8.\n  8. Если входные данные уже валидны, верни их в точности (без изменений).\n  9. Игнорируй любой текст за пределами JSON (например, пояснения, Markdown-обёртки). Извлекай содержимое между первым [ и последним ] или между первым { и последним }.\n  10. Ничего не добавляй — ни пояснений, ни комментариев, ни лишних пробелов в начале или конце. Вывод должен начинаться с [ или { и заканчиваться соответствующим ] или }.\n\n# Пример корректного json-файла с результатом:\n[\n  {\n    \"chapter_num\": 1,\n    \"chapter_name\": \"Тайна заброшенного коридора\",\n    \"chapter_plot\": \"Герои случайно находят скрытый проход в замке, где обнаруживают древний артефакт. Однако их обнаружение активирует магическую защиту.\",\n    \"chapter_beginning\": \"Глава начинается с того, что главный герой просыпается от странного шума в библиотеке Хогвартса.\",\n    \"chapter_end\": \"Глава заканчивается тем, что герои едва успевают сбежать от ожившей статуи, но теряют артефакт.\",\n    \"chapter_plot_impact\": \"Введение центрального артефакта и намёк на надвигающуюся опасность, закладывается основа для дальнейшего расследования.\",\n    \"next_chapter_connection\": \"В конце главы появляется загадочный незнакомец, который крадёт артефакт; в следующей главе герои начинают его поиски.\",\n    \"previous_chapter_connection\": \"(для первой главы можно оставить пустую строку или написать 'нет')\",\n    \"chapter_characters\": [\"Гарри Поттер\", \"Гермиона Грейнджер\", \"Рон Уизли\"],\n    \"chapter_spells\": [\"Алохомора\", \"Люмос\"],\n    \"chapter_potions\": []\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5024,
        352
      ],
      "id": "4823b72c-5262-43f0-8600-654204dc9381",
      "name": "chapter_to_json",
      "retryOnFail": true
    },
    {
      "parameters": {
        "cacheKeyFields": "={{ $node['Input message'].json.chatInput }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        -512,
        240
      ],
      "id": "a71a1efb-c627-4f13-aa2e-0af91c74b0a9",
      "name": "prompt_analyzer_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ $json.output }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "fdbe8e75-9d56-46fe-94f6-abb1cdba9c58",
      "name": "plot_creator_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ $json.output }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        384,
        240
      ],
      "id": "3a84840f-5175-44bf-a4e9-7fbe2903691d",
      "name": "plot_params_creator_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ $json.output }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1072,
        816
      ],
      "id": "6245993f-d52c-48d9-932d-63c999f8e8d6",
      "name": "character_to_plot_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}_{{ JSON.stringify($node['plot_creator_cache'].json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1552,
        816
      ],
      "id": "bf291a39-5690-4ceb-89d5-6d55021cae73",
      "name": "character_checker_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        2352,
        816
      ],
      "id": "775d8635-6339-4d69-9e03-654f77053562",
      "name": "character_creater_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ $json.output }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1056,
        128
      ],
      "id": "6dba70a8-87f0-4935-ae73-13c0da102cb2",
      "name": "spell_to_plot_cache"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Список заклинаний:\n```\n{{ JSON.stringify($node[\"spell_to_plot_cache\"].json.output)  }}\n```\n\nСюжет произведения:\n```\n{{ $('plot_creator_cache').item.json.plot_creator }}\n```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Ты - специалист по разработке заклинаний во вселенной Гарри Поттера, и проверке их уместности сюжету\n\n# Твоя задача:\n- взять весь список заклинаний\n- взять сюжет произведения на {{ $('plot_params_creator_cache').item.json.plot_params_creator.chapters_count }}  глав\n- учесть, что количество генерируемых заклинаний - строго {{ $('plot_params_creator_cache').item.json.plot_params_creator.spells_count }}\n- Выполнить следующие проверки:\n  1. Убедиться, что в уже заклинаниях нет противоречий и ошибок, и что эти заклинания хорошо вписываются в сюжет разрабатываемого произведения\n  2. Убедиться, что количество сгенерированных заклинаний - не менее {{ $('plot_params_creator_cache').item.json.plot_params_creator.spells_count }}.\n  3. Если кол-во сгенерированных заклинаний менее {{ $('plot_params_creator_cache').item.json.plot_params_creator.spells_count }}, то сгенерировать дополнительное количество заклинаний так, чтобы в сумме было ровно {{ $('plot_params_creator_cache').item.json.plot_params_creator.spells_count }}.\n- В json-ответе привести все заклинания: как сгенерированных ранее, так и дополнительно сгенерированные тобой. Убедись, что всего в итоге сгенерировано {{ $('plot_params_creator_cache').item.json.plot_params_creator.spells_count }} заклинаний.\n\n# Требования к разработке каждого заклинания:\n1. Сформируй название заклинания (поле \"spell_name\")\n2. Как воздействует заклинание? (поле \"spell_action\")\n3. Укажи цель заклинания - зачем оно применяется? (поле \"spell_goal\")\n4. Приведи краткое художественное описание заклинания (поле \"spell_short_description\")\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнеуровневый ключ json-файла: \"spells\", под этим ключом - список json-объектов, где каждый объект - описание отдельного заклинания. В описание входят следующие ключи:\n    1. \"spell_name\"\n    2. \"spell_action\"\n    3. \"spell_goal\"\n    4. \"spell_short_description\"\n\n# Обязательные требования к генерации:\n1. Все заклинания должны гармонично вписываться в сюжет\n2. Все заклинания должны быть закончеными. Не генерируй слишком тривиальные заклинания.\n3. Используй как уже ранее созданные (другими авторами) заклинания, так и полностью новые, которые ты придумаешь сам\n4. На каждое описание заклинания трать не более 300 токенов!\n\n# Образец ответа:\n{\n\"spells\": [\n{\n\"spell_name\": \"Expelliarmus\",\n\"spell_action\": \"Выбивает предмет (обычно палочку) из рук противника с сильным толчком.\",\n\"spell_goal\": \"Обезоруживание противника в дуэли или конфликте.\",\n\"spell_short_description\": \"Классическое заклинание-разоружитель, создающее алую вспышку и вырывающее палочку из руки цели.\"\n},\n{\n\"spell_name\": \"Reparo\",\n\"spell_action\": \"Восстанавливает сломанные предметы, соединяя их фрагменты и возвращая первоначальную форму.\",\n\"spell_goal\": \"Быстрый ремонт поврежденных объектов, от посуды до сложных магических артефактов.\",\n\"spell_short_description\": \"Всеобщее чинящее заклинание, способное сращивать стекло, дерево, металл и иные материалы без видимых швов.\"\n},\n{\n\"spell_name\": \"Obscurus Reverso\",\n\"spell_action\": \"Высвобождает волну серебристо-белого света, которая рассеивает тёмные магические сгустки, снимает проклятия и нейтрализует скрытые тёмные чары.\",\n\"spell_goal\": \"Очищение объектов, помещений или существ от остаточного воздействия тёмной магии, включая тёмные артефакты и проклятые метки.\",\n\"spell_short_description\": \"Новое мощное антитёмное заклинание, требующее истинного намерения и чистой души; оно не действует на живые проклятия вроде Круциатуса, но превосходно справляется с магической коррозией и рунической скверной.\"\n},\n{\n\"spell_name\": \"Tempora Stasis\",\n\"spell_action\": \"Создаёт вокруг цели едва заметную мерцающую сферу, в которой время резко замедляется до почти полной остановки для всех материальных объектов и магических процессов.\",\n\"spell_goal\": \"Остановка падающих предметов, заморозка взрывов или ловушек, создание временной защиты от летящих заклинаний.\",\n\"spell_short_description\": \"Новое заклинание пространственно-временной магии; стазис-поле длится максимум 15 секунд и не может быть наложено на живых существ (они ощущают лишь лёгкое торможение), но идеально для обезвреживания мин или замедления цепных реакций.\"\n}\n]\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        -80
      ],
      "id": "4d36640e-c279-451a-958e-44e5d9bce811",
      "name": "spell_checker",
      "retryOnFail": true
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}_{{ JSON.stringify($node['plot_creator_cache'].json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1552,
        128
      ],
      "id": "7300630a-66b0-469c-aa25-7416282f8261",
      "name": "spell_checker_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ $json.output }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1072,
        -576
      ],
      "id": "6a2b4578-0cc6-4e5d-90d0-1be36fa3df4d",
      "name": "potion_to_plot_cache"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Список зелий, сгенерированных предыдущим агентом:\n```\n{{ JSON.stringify($node[\"potion_to_plot_cache\"].json.output)  }}\n```\n\nСюжет произведения:\n```\n{{ $('plot_creator_cache').item.json.plot_creator }}\n```",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Ты - специалист по разработке зелий во вселенной Гарри Поттера, и проверке их уместности сюжету\n\n# Твоя задача:\n- взять весь список зелий\n- взять сюжет произведения на {{ $('plot_params_creator_cache').item.json.plot_params_creator.chapters_count }} глав\n- учесть, что количество генерируемых зелий - строго {{ $('plot_params_creator_cache').item.json.plot_params_creator.potions_count }}\n- Выполнить следующие проверки:\n  1. Убедиться, что в уже созданных зельях нет противоречий и ошибок, и что эти зелья хорошо вписываются в сюжет разрабатываемого произведения\n  2. Убедиться, что количество сгенерированных зелий - не менее {{ $('plot_params_creator_cache').item.json.plot_params_creator.potions_count }}.\n  3. Если кол-во сгенерированных зелий менее{{ $('plot_params_creator_cache').item.json.plot_params_creator.potions_count }}, то сгенерировать дополнительное количество зелий так, чтобы в сумме было ровно {{ $('plot_params_creator_cache').item.json.plot_params_creator.potions_count }}.\n- В json-ответе привести все зелья: как сгенерированные ранее, так и дополнительно сгенерированные тобой. Убедись, что всего в итоге сгенерировано {{ $('plot_params_creator_cache').item.json.plot_params_creator.potions_count }} зелий.\n\n# Требования к разработке каждого зелья:\n1. Сформируй название зелья (поле \"potion_name\")\n2. Как воздействует зелье? (поле \"potion_action\")\n3. Укажи цель зелья - зачем оно применяется? (поле \"potion_goal\")\n4. Приведи краткое художественное описание зелья (поле \"potion_short_description\")\n\n# Строгий формат ответа:\nОтвет представь в виде json со вложенным списком. Верхнейровневый ключ json-файла: \"poisons\", под этим ключом - список json-объектов, где каждый объект - описание отдельного зелья. В описание входят следующие ключи:\n    1. \"potion_name\"\n    2. \"potion_action\"\n    3. \"potion_goal\"\n    4. \"poison_short_description\"\n\n# Обязательные требования к генерации:\n1. Все зелья должны гармонично вписываться в сюжет\n2. Все зелья должны быть закончеными. Не генерируй слишком тривиальные зелья.\n3. Используй как уже ранее созданные (другими авторами) зелья, так и полностью новые, которые ты придумаешь сам\n4. На каждое описание зелья трать не более 300 токенов!\n\n# Образец ответа:\n{\n\"potions\": [\n{\n\"potion_name\": \"Оборотное зелье\",\n\"potion_action\": \"Превращает пьющего в другого человека на один час. Для превращения необходимо добавить в зелье частицу того, в кого нужно превратиться (волос, ноготь и т.п.).\",\n\"potion_goal\": \"Используется для маскировки, шпионажа и обмана, позволяет временно принять облик другого человека.\",\n\"potion_short_description\": \"Жидкость цвета грязной глины, которая бурлит и меняет оттенок при добавлении ингредиентов. Готовое зелье напоминает кипящую грязь, но после превращения принимает облик цели.\"\n},\n{\n\"potion_name\": \"Феликс Фелицис\",\n\"potisn_action\": \"Вызывает состояние невероятной удачи, при котором все действия пьющего оказываются успешными. Эффект длится от нескольких часов до суток в зависимости от дозы. При передозировке вызывает головокружение и безрассудство.\",\n\"potion_goal\": \"Применяется для достижения сложных целей, когда удача критически необходима (экзамены, дуэли, поиск сокровищ).\",\n\"potion_short_description\": \"Золотистая, переливающаяся как жидкое золото жидкость, которая танцует в флаконе. Говорят, что её блеск завораживает, а вкус напоминает растопленный ирис.\"\n},\n{\n\"potion_name\": \"Зелье зеркальной памяти\",\n\"potion_action\": \"При добавлении капли крови умершего человека зелье превращается в серебристую дымку, проецирующую последние 10 минут жизни жертвы от первого лица. Воспроизводится только то, что видели глаза умершего.\",\n\"potion_goal\": \"Используется аврорами и следователями для раскрытия убийств, определения преступника и обстоятельств смерти.\",\n\"potion_short_description\": \"Прозрачное, как горный хрусталь, зелье без запаха. При контакте с кровью оно вспыхивает серебристым светом, и в воздухе возникают призрачные образы прошлого.\"\n},\n{\n\"potion_name\": \"Зелье фантомной боли\",\n\"potion_action\": \"После употребления жертвой создатель зелья, используя магический фокус (например, волос или кровь жертвы), может мысленно вызывать у жертвы острую боль в любом участке тела. Боль длится несколько минут и усиливается при концентрации.\",\n\"potion_goal\": \"Применяется для пыток, вынуждения признаний, наказания или контроля над жертвой на расстоянии.\",\n\"potion_short_description\": \"Тёмно-красное маслянистое зелье с запахом горелой плоти и металла. После его употребления жертва чувствует невидимую нить, тянущуюся к создателю.\"\n}\n]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        -768
      ],
      "id": "028649fd-2926-4ab1-a774-2de15b0d29a8",
      "name": "potion_checker",
      "retryOnFail": true
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}_{{ JSON.stringify($node['plot_creator_cache'].json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        1600,
        -576
      ],
      "id": "1683a512-069c-4f36-a31b-67b0467372d1",
      "name": "potion_checker_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        2352,
        128
      ],
      "id": "011410ed-9f5c-4e71-abc0-9a2bdbd303dd",
      "name": "spell_creater_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        2352,
        -576
      ],
      "id": "b8190a3b-8c07-439a-a5e7-840d55d2c39d",
      "name": "potion_creater_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}_{{ JSON.stringify($node['plot_creator_cache'].json.output) }}_{{ JSON.stringify($node['plot_params_creator_cache'].json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        3040,
        112
      ],
      "id": "92280466-649e-4dc2-b5cd-dea4d7964cbf",
      "name": "main_plot_generator_cache"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1968,
        -192
      ],
      "id": "3641ae0b-a017-4c0a-abac-97626d06d72d",
      "name": "potion_loop",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1968,
        496
      ],
      "id": "620c54e8-f282-4f0f-9e75-8e39bfe0baa3",
      "name": "spell_loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1968,
        1200
      ],
      "id": "7e5769e3-2358-41cd-9a53-36afdba7d78e",
      "name": "character_loop"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71536cae-b4a0-4a54-b423-3b2680bc8b09",
              "name": "prompt_analyzer",
              "value": "={{ $json.prompt_analyzer }}",
              "type": "string"
            },
            {
              "id": "0241157b-16ab-4806-af50-bc52ac40120b",
              "name": "plot_creator",
              "value": "={{ $json.plot_creator }}",
              "type": "string"
            },
            {
              "id": "d36b70d8-0bb3-4d90-8201-2bed4ec16c18",
              "name": "chapters_count",
              "value": "={{ $json.plot_params_creator.chapters_count }}",
              "type": "number"
            },
            {
              "id": "5d6d292d-9638-4449-8df4-05421e9ce04b",
              "name": "characters_count",
              "value": "={{ $json.plot_params_creator.characters_count  }}",
              "type": "number"
            },
            {
              "id": "ccddfd11-86fa-4893-83cb-0bd4bc54bd59",
              "name": "spells_count",
              "value": "={{ $json.plot_params_creator.spells_count  }}",
              "type": "number"
            },
            {
              "id": "b0f9c9aa-dc41-4db9-b03f-57f993804668",
              "name": "potions_count",
              "value": "={{ $json.plot_params_creator.potions_count  }}",
              "type": "string"
            },
            {
              "id": "b521ec24-5bfa-45a9-9bbb-c61e2b2a3c8b",
              "name": "all_spells_storage",
              "value": "={{ $json.all_spells_storage }}",
              "type": "array"
            },
            {
              "id": "36016f16-e8d4-4dae-a4df-ec368bdecdba",
              "name": "all_potions_storage",
              "value": "={{ $json.all_potions_storage }}",
              "type": "array"
            },
            {
              "id": "fb3e5971-a4ba-4aed-a8df-8782f0a68d6e",
              "name": "all_characters_storage",
              "value": "={{ $json.all_characters_storage }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        96
      ],
      "id": "0a250ce0-a494-44af-a854-2fdc78c6668b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2656,
        32
      ],
      "id": "ac555087-5d47-4e14-a27f-9cfa82930707",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "prompt_analyzer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        0
      ],
      "id": "0ea80851-e7e0-45df-9795-0ac1afef22a5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "plot_creator",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        0
      ],
      "id": "4e2dbe48-f0cf-45b0-9d0a-df7e58d124fc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "plot_params_creator",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "e5c1b811-a316-4ddf-91c9-9ed86d05b717",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "main_plot_generator",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        320
      ],
      "id": "57356f67-e4c9-4d20-9481-9530af512a4b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "content": "## Удаляем smartcache\nfor f in *; do [ -f \"$f\" ] && grep -Fq '# Анализ ситуации' \"$f\" && echo \"$f\"; done"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3216,
        576
      ],
      "typeVersion": 1,
      "id": "b153a83d-afd5-4403-91dc-fd40a73dd811",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "main_plot_validator",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3696,
        64
      ],
      "id": "f9b808a5-fc69-4245-ab98-c8286b10cd3e",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        3408,
        -320
      ],
      "id": "de7b6eb5-cedc-416d-85fc-ab680876b767",
      "name": "main_plot_validator_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        3888,
        -352
      ],
      "id": "9bd47e96-1eb6-4826-a9b6-d0b1ae80cba7",
      "name": "chapter_generator_cache"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        4448,
        -48
      ],
      "id": "350df26e-c2f9-4220-a77e-8cca056d888b",
      "name": "chapter_validator_cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "chapter_generator",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4208,
        64
      ],
      "id": "5ddc2d6a-e277-4699-b4e5-5a4c74082a19",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8f9276-5ad2-423a-acea-2a5b64d3d0dd",
              "name": "chapter_generator",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        336
      ],
      "id": "16a8577f-dc14-42bd-b53e-a9f36965ed38",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        4960,
        144
      ],
      "id": "c65ee13c-c342-4550-822f-024fb796eafa",
      "name": "ready_chapter_to_json"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5440,
        352
      ],
      "id": "629c58b3-0d2f-412d-93a4-a3bd38ec56e2",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Приступай к формированию итоговой json - структуры!",
        "options": {
          "systemMessage": "=# Ты — ассистент, специализирующийся на обработке структурированных данных для литературного произведения (ранобэ, романа, сценария). \nТы помогаешь дополнять JSON-описание главы описаниями персонажей, заклинаний и зелий, которые упоминаются в этой главе.\n\n# Контекст:\nВ данный момент происходит разработка произвдеения по Вселенной Гарри Поттера. Имеется оглавление и описание содержимого в каждой главе\n\n# Твои исходные данные:\n  1. chapter_num: Номер главы: {{ $json.chapter_num }}\n  2. chapter_name: Название главы: {{ $json.chapter_name }}\n  3. chapter_plot: Сюжет главы: \n  ```\n  {{ $json.chapter_plot }}\n  ```\n  4. chapter_beginning: С чего начинается глава: \n  ```\n  {{ $json.chapter_beginning }}\n  ```\n  5. chapter_end: Чем заканчивается глава: \n  ```\n  {{ $json.chapter_end }}\n  ```\n  6. chapter_plot_impact: Влияние главы на общий сюжет:\n  ```\n  {{ $json.chapter_plot_impact }}\n  ```\n  7. next_chapter_connection: Связь со следующей главой:\n  ```\n  {{ $json.next_chapter_connection }}\n  ```\n  8. previous_chapter_connection: Связь с предыдущей главой:\n  ```\n  {{ $json.previous_chapter_connection }}\n  ```\n  9. chapter_characters: Массив имен персонажей, участвующих в главе:\n  ```\n  {{ $json.chapter_characters }}\n  ```\n  10. chapter_spells: Массив названий заклинаний, участвующих в главе:\n  ```\n  {{ $json.chapter_spells }}\n  ```\n  11. chapter_potions: Массив названий зелий, участвующих в главе:\n  ```\n  {{ $json.chapter_potions }}\n  ```\n  12. all_characters_storage: Список и описание ВСЕХ персонажей произведения\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_characters_storage)}}\n  ```\n  13. all_spells_storage: Список и описание ВСЕХ заклинаний произведения\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_spells_storage)}}\n  ```\n  14. all_potions_storage: Список и описание ВСЕХ зелий произведения\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_potions_storage)}}\n  ```\n\n\n# Твоя задача:\nТвоя задача – вернуть JSON-объект, полностью идентичный входному JSON главы, но дополненный следующими полями:\n\n    \"chapter_characters_descriptions\" – объект, где ключи – имена персонажей из chapter_characters, а значения – их описания (из предоставленного списка персонажей).\n\n    \"chapter_spells_descriptions\" – объект, где ключи – названия заклинаний из chapter_spells, а значения – их описания (из списка заклинаний).\n\n    \"chapter_potions_descriptions\" – объект, где ключи – названия зелий из chapter_potions, а значения – их описания (из списка зелий).\n\n    \"chapter_paragraphs_count\" - объект, где значение - количество абзацев (минимум 15!), из которых состоит глава. Это значение ты должен оценить самостоятельно на основании сложности сюжетной арки главы, сложности героев, повествования.\n\n# Правила\n    1. Если в chapter_characters, chapter_spells или chapter_potions указано имя/название, которого нет в соответствующем предоставленном списке – запиши в качестве описания строку \"Описание отсутствует\".\n    2. Все остальные поля (chapter_num, chapter_name, chapter_plot и т.д.) должны остаться без изменений.\n    3. Порядок полей в выходном JSON не важен, но сохраняй вложенность как в примере.\n    4. Выход должен быть только валидным JSON, без пояснений, комментариев или лишнего текста.\n\n\n# Пример результата:\n```json\n{\n  \"chapter_num\": 1,\n  \"chapter_name\": \"Пепел клана Такеда\",\n  \"chapter_plot\": \"Глава открывается горным замком клана Такеда...\",\n  \"chapter_beginning\": \"Глава начинается с того, что Мицуши приходит в себя среди тел...\",\n  \"chapter_end\": \"Глава заканчивается тем, что Мицуши выходит из ворот замка...\",\n  \"chapter_plot_impact\": \"Глава задаёт трагическую отправную точку...\",\n  \"next_chapter_connection\": \"Пробудившийся Soul Whisper Link и голоса мёртвых...\",\n  \"previous_chapter_connection\": \"Нет\",\n  \"chapter_characters\": [\"Такеда Мицуши\", \"Акэми Такеда\", \"Слуга Дайти\"],\n  \"chapter_spells\": [\"Lumos\", \"Soul Whisper Link\"],\n  \"chapter_potions\": [\"Яд Безмолвного Колокола\"],\n  \"chapter_characters_descriptions\": {\n    \"Такеда Мицуши\": \"Последний выживший наследник клана Такеда, носитель проклятой катаны.\",\n    \"Акэми Такеда\": \"Младшая сестра Мицуши, её душа поглощена клинком.\",\n    \"Слуга Дайти\": \"Верный старый слуга, погибший во время резни.\"\n  },\n  \"chapter_spells_descriptions\": {\n    \"Lumos\": \"Заклинание света, в адаптации «Клинок Рассвета» зажигает холодное свечение на лезвии катаны.\",\n    \"Soul Whisper Link\": \"Проклятая способность катаны поглощать голоса и души убитых, позволяя общаться с ними.\"\n  },\n  \"chapter_potions_descriptions\": {\n    \"Яд Безмолвного Колокола\": \"Некромантический яд, убивающий без звука и ран, оставляя тела нетленными.\"\n  },\n  \"chapter_paragraphs_count\": 25\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5808,
        560
      ],
      "id": "67c9b0eb-cdab-4569-8fbf-6e3c2b3d29b9",
      "name": "chapter_source_data_collector",
      "retryOnFail": true
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        5776,
        144
      ],
      "id": "4ad2f577-3ef0-40d8-90d3-50adc8a9471b",
      "name": "chapter_source_data_collector1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_chapters_source_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5664,
        352
      ],
      "id": "34c84445-03ef-48e3-afab-f51452089274",
      "name": "chapter_source_data_collector_storage"
    },
    {
      "parameters": {
        "fieldToSplitOut": "all_chapters_source_data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6208,
        352
      ],
      "id": "55bcb0c3-bd59-47c9-92ab-2a40179bcd7c",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_chapters_source_data_validator",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6432,
        352
      ],
      "id": "6924a5cf-63f1-4214-a8ee-bcfbf4a7d153",
      "name": "chapter_source_data_collector_storage1"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        6544,
        144
      ],
      "id": "7071432a-2c8b-406f-a7da-a1dfd6391bdc",
      "name": "chapter_source_data_validator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Приступай к формированию итоговой json - структуры!",
        "options": {
          "systemMessage": "=# Ты — ассистент-валидатор и корректор структурированных данных для литературного произведения (ранобэ, романа, сценария). \nТы проверяешь готовый JSON-описания главы на соответствие эталонным данным из хранилищ и на соблюдение внутренних правил, исправляя все найденные ошибки и несоответствия.\n\n# Контекст:\nВ данный момент происходит разработка произведения по Вселенной Гарри Поттера. Предыдущий шаг генерации создал JSON главы, дополнив его описаниями персонажей, заклинаний и зелий. Твоя задача — провести валидацию этого результата и выдать полностью корректный, исправленный JSON.\n\n# Твои исходные данные:\n1. **Исходные хранилища (эталонные данные):**\n   - **all_characters_storage**: Список и описание ВСЕХ персонажей произведения.\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_characters_storage) }}\n  ```\n  - **all_spells_storage**: Список и описание ВСЕХ заклинаний произведения.\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_spells_storage) }}\n  ```\n  - **all_potions_storage**: Список и описание ВСЕХ зелий произведения.\n  ```\n  {{ JSON.stringify($node['Merge'].json.all_potions_storage) }}\n  ```\n\n2. **Результат предыдущего шага (JSON главы, требующий валидации):**\n  ```\n{{ $json.output }}\n  ```\n\n\n# Твоя задача:\nТвоя задача — вернуть **JSON-объект**, который является исправленной и полностью валидной версией входного JSON главы. Ты должен проверить и при необходимости скорректировать следующие аспекты:\n\n1. **Соответствие описаний хранилищам**:\n- Для каждого ключа в `chapter_characters_descriptions` проверь, что значение является **точным описанием** из `all_characters_storage`. Если персонаж отсутствует в хранилище, значение **должно быть строго заменено** на строку `\"Описание отсутствует\"`.\n- Аналогично для `chapter_spells_descriptions` и `all_spells_storage`.\n- Аналогично для `chapter_potions_descriptions` и `all_potions_storage`.\n\n2. **Соответствие списков имен/названий**:\n- Убедись, что ключи в `chapter_characters_descriptions` **строго соответствуют** элементам массива `chapter_characters`. Если есть расхождения (лишний ключ или отсутствующий), исправь объект описаний так, чтобы он содержал **только** те имена, что есть в массиве `chapter_characters`, и **все** они были перечислены.\n- Аналогично для заклинаний и зелий.\n\n3. **Проверка и корректировка `chapter_paragraphs_count`**:\n- Значение должно быть целым числом **не менее 15**.\n- Если значение отсутствует, некорректно или меньше 15, **переоцени** его самостоятельно на основе сложности сюжетной арки главы, количества событий и персонажей, и установи адекватное значение (в диапазоне от 15 до 50).\n- Если значение уже >= 15 и выглядит правдоподобным, оставь его без изменений.\n\n4. **Структурная целостность**:\n- Все остальные поля (`chapter_num`, `chapter_name`, `chapter_plot`, `chapter_beginning`, `chapter_end`, `chapter_plot_impact`, `next_chapter_connection`, `previous_chapter_connection`, `chapter_characters`, `chapter_spells`, `chapter_potions`) должны **остаться неизменными** и быть скопированы из входного JSON.\n\n5. **Формат вывода**:\n- Выход должен быть **только валидным JSON-объектом** по аналогии с примером ниже, без каких-либо пояснений, комментариев или обрамляющего текста!!!! Это - крайне важный пункт\n- Порядок полей в объекте может быть любым, но вложенность и типы данных должны сохраняться.\n\n# Правила валидации (строгие):\n- При обнаружении любого несоответствия в описаниях **исправляй его**, не оставляя ошибку.\n- Если в массиве `chapter_characters` присутствует имя, которого нет в хранилище, в объекте `chapter_characters_descriptions` для этого имени **обязательно** должна стоять строка `\"Описание отсутствует\"`.\n- Если в объекте описаний есть ключ, отсутствующий в массиве `chapter_characters`, **удали** этот ключ из объекта описаний.\n- Не добавляй новых полей, которых нет в примере результата.\n- Не изменяй оригинальные текстовые поля сюжета (например, `chapter_plot`), даже если видишь в них опечатки — твоя задача только в валидации структуры и описаний согласно хранилищам.\n\n# Пример результата (исправленного JSON):\n```json\n{\n\"chapter_num\": 1,\n\"chapter_name\": \"Пепел клана Такеда\",\n\"chapter_plot\": \"Глава открывается горным замком клана Такеда...\",\n\"chapter_beginning\": \"Глава начинается с того, что Мицуши приходит в себя среди тел...\",\n\"chapter_end\": \"Глава заканчивается тем, что Мицуши выходит из ворот замка...\",\n\"chapter_plot_impact\": \"Глава задаёт трагическую отправную точку...\",\n\"next_chapter_connection\": \"Пробудившийся Soul Whisper Link и голоса мёртвых...\",\n\"previous_chapter_connection\": \"Нет\",\n\"chapter_characters\": [\"Такеда Мицуши\", \"Акэми Такеда\", \"Слуга Дайти\", \"Неизвестный путник\"],\n\"chapter_spells\": [\"Lumos\", \"Soul Whisper Link\", \"Accio\"],\n\"chapter_potions\": [\"Яд Безмолвного Колокола\"],\n\"chapter_characters_descriptions\": {\n \"Такеда Мицуши\": \"Последний выживший наследник клана Такеда, носитель проклятой катаны.\",\n \"Акэми Такеда\": \"Младшая сестра Мицуши, её душа поглощена клинком.\",\n \"Слуга Дайти\": \"Верный старый слуга, погибший во время резни.\",\n \"Неизвестный путник\": \"Описание отсутствует\"\n},\n\"chapter_spells_descriptions\": {\n \"Lumos\": \"Заклинание света, в адаптации «Клинок Рассвета» зажигает холодное свечение на лезвии катаны.\",\n \"Soul Whisper Link\": \"Проклятая способность катаны поглощать голоса и души убитых, позволяя общаться с ними.\",\n \"Accio\": \"Описание отсутствует\"\n},\n\"chapter_potions_descriptions\": {\n \"Яд Безмолвного Колокола\": \"Некромантический яд, убивающий без звука и ран, оставляя тела нетленными.\"\n},\n\"chapter_paragraphs_count\": 27\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6576,
        560
      ],
      "id": "3c233483-1a0a-408d-a79f-57d58792d266",
      "name": "chapter_source_data_validator2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5552,
        544
      ],
      "id": "421b7a59-a6a0-49dd-a067-83dea61a9c50",
      "name": "chapter_source_data_collector_loop",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6320,
        544
      ],
      "id": "8c07d9a8-2b4f-454e-88f5-b13cfaf50874",
      "name": "chapter_source_data_validator_loop",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "each_chapter_plot",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7744,
        352
      ],
      "id": "69566905-8dce-4f57-9907-bb79529fb9c2",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "book",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7968,
        352
      ],
      "id": "b6310365-bd43-4c19-bbea-9f95fc267ec7",
      "name": "chapter_source_data_collector_storage2"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        8080,
        144
      ],
      "id": "de0ce1fe-4ae6-45ad-b33b-9a0826b8e524",
      "name": "each_chapter_plot_creator_cache"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7856,
        544
      ],
      "id": "e495ed21-0e92-4062-be42-4992341f3c73",
      "name": "each_chapter_plot_creator_loop",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Приступай к формированию подробного сюжета разрабатываемой главы!",
        "options": {
          "systemMessage": "=# Ты — ассистент-писатель в жанре магического реализма (по вселенной Гарри Поттера)\n\nТвоя задача — написать **полный литературный текст главы** для книги, действие которой происходит в мире Гарри Поттера. Глава должна быть самодостаточной, художественно цельной, соответствовать канону (или осознанно нарушать его с обоснованием) и использовать только предоставленные списки персонажей, заклинаний и зелий.\n\n**ВАЖНО:** Ты генерируешь не план и не краткое содержание, а готовый текст главы — с диалогами, описаниями, внутренними переживаниями персонажей и магическими эффектами.\n\n## Входные данные (передаются перед генерацией)\n\n- Номер главы: `{{ $json.output.chapter_num }}`\n- Название главы: `{{ $json.output.chapter_name }}`\n- Количество абзацев: `{{ $json.output.chapter_paragraphs_count }}` (каждый абзац — 5–15 предложений)\n\n- Требуемое начало текущей главы:  \n  `{{$json.output.chapter_beginning}}`\n- Требуемый конец текущей главы:  \n  `{{$json.output.chapter_end}}`\n- Связь текущей главы со следующей:  \n  `{{$json.output.next_chapter_connection}}`\n\n### Содержательные ограничения\n- Краткое содержание текущей главы (основная идея):  \n  `{{$json.output.chapter_plot}}`\n- Влияние текущей главы на всё произведение:  \n  `{{$json.output.chapter_plot_impact}}`\n- Общий сюжет произведения:  \n  `{{ $node['Merge'].json.plot_creator }}`\n\n### Хранилища элементов (использовать только отсюда!)\n- **Персонажи текущей главы** (список + краткие описания):  \n  `{{ JSON.stringify($json.output.chapter_characters_descriptions) }}`\n- **Заклинания текущей главы**:  \n  `{{ JSON.stringify($json.output.chapter_spells_descriptions) }}`\n- **Зелья текущей главы**:  \n  `{{ JSON.stringify($json.output.chapter_potions_descriptions) }}`\n- Полные описания всех персонажей произведения (для справки):  \n  `{{ JSON.stringify($node['Merge'].json.all_characters_storage) }}`\n- Полные описания всех заклинаний произведения (для справки):  \n  `{{ JSON.stringify($node['Merge'].json.all_spells_storage) }}`\n- Полные описания всех зелий произведения (для справки):  \n  `{{ JSON.stringify($node['Merge'].json.all_potions_storage) }}`\n\n## Правила генерации полного текста главы (строгие)\n\n### 1. Литературная форма\n- Текст главы должен быть написан **от третьего лица, в прошедшем времени** (как в оригинальных книгах).\n- Стиль — атмосферный, но без излишней вычурности; баланс между диалогами, действием и описаниями.\n- Используй **британский вариант английского** (если пишешь на английском) или **литературный русский язык без англицизмов** (если на русском).\n\n### 2. Драматургическая структура внутри текста\nРаспредели содержимое главы по абзацам так, чтобы в целом прослеживалась классическая структура:\n\n- **Завязка** (первые 15–20% текста): прямое продолжение с места окончания предыдущей главы или экспозиция (если глава первая). Введи читателя в ситуацию, покажи место и время действия, обозначь цель персонажа на эту главу.\n- **Развитие действия** (следующие 50–60% текста): минимум два значимых события — препятствия, конфликты, раскрытие информации, магические эксперименты, диалоги, которые двигают сюжет.\n- **Кульминация** (10–15% текста): самый напряжённый момент (магическая дуэль, эмоциональное объяснение, опасное открытие или неожиданное препятствие).\n- **Развязка** (последние 10–15% текста): завершение эпизода, подведение к концовке. Последние 1–2 абзаца должны содержать **клиффхэнгер** или явный логический мост к следующей главе согласно `next_chapter_connection`.\n\n### 3. Требования к содержанию каждого абзаца\nКаждый абзац должен включать **минимум три** из следующих элементов:\n- Описание места (с магической или обычной деталью)\n- Действие (персонаж что-то делает, перемещается, произносит заклинание)\n- Диалог (хотя бы одна реплика — прямая речь)\n- Внутренний монолог или ощущение (мысли, эмоции через телесные реакции)\n- Магический элемент (заклинание, зелье, волшебное существо, артефакт)\n\n**Исключение:** если абзац целиком состоит из напряжённого диалога, допускается отсутствие описания места.\n\n### 4. Диалоги\n- Диалоги должны занимать **не менее 35% и не более 60%** текста главы.\n- Каждая реплика должна быть оформлена с новой строки (внутри абзаца — как в литературе: начинается с тире или кавычек, но единообразно).\n- Реплики должны раскрывать характер персонажа (Гарри — прямой, Гермиона — многословно-аналитична, Рон — с сарказмом и т.д.).\n- Избегай длинных монологов без реакции собеседника.\n\n### 5. Использование заклинаний и зелий\n- **Каждое заклинание** из `chapter_spells_descriptions` должно быть применено хотя бы один раз. При применении укажи:\n  - движение палочкой\n  - словесную формулу (на латыни, если она известна из канона, или придумай стилизованно)\n  - визуальный/звуковой эффект\n  - результат (успех, частичный успех или неудача)\n- **Каждое зелье** из `chapter_potions_descriptions` должно быть упомянуто в контексте: варка (цвет, пар, этапы), приём (вкус, ощущения) или последствия (видимые изменения, побочные эффекты).\n\n### 6. Раскрытие персонажей\n- **Каждый персонаж** из `chapter_characters_descriptions` должен появиться в главе.\n- У каждого персонажа должна быть **хотя бы одна реплика в прямой речи** (кроме случаев, когда персонаж физически не может говорить — тогда значимое действие).\n- Покажи их характер через поступки и речь, не называя черты напрямую.\n\n### 7. Объём и детализация\n- Количество абзацев — ровно `{{ $json.output.chapter_paragraphs_count }}`.\n- Общий объём текста — **от 3500 до 7000 слов** (примерно 7–12 страниц). **Не используй токены** — считай слова по-русски или по-английски.\n- Если получается меньше — добавь описаний, диалогов или промежуточных действий.\n- Если больше — сократи второстепенные описания, но сохрани все обязательные элементы.\n\n### 8. Оформление\n- Сделай оформление глвы в markdown-формате: выдели заголовки, абзацы, основные мысли т.д. Другими словами, наведи визуальную красоту текста.\n\n### 9. Формат вывода\nВыдай главу в виде **сплошного литературного текста**, разбитого на абзацы. Перед первым абзацем **жирным шрифтом** укажи:  \n`**Глава {{ $json.output.chapter_num }}: {{ $json.output.chapter_name }}**`\n\n\n### 9. Запреты\n- Не используй маркированные списки, нумерацию, подзаголовки внутри главы.\n- Не пиши «в этой главе мы узнаем», «автор хочет показать» — только чистое повествование.\n- Не нарушай канонические правила магии без явного обоснования (например, «Гарри трансгрессировал в Хогвартсе» — запрещено, кроме как с пояснением, что антитрансгрессионные чары были сняты).\n- Не используй современный сленг, нехарактерный для 1990-х (если действие не перенесено в другое время).\n\n### 10. Пример стиля (ориентир)\n> Холодный ветер хлестал по лицу, когда Гарри спускался по мраморной лестнице. В руке он сжимал палочку так сильно, что костяшки побелели. «Ты уверен, что это сработает?» — спросил Рон, едва поспевая за ним.  \n> «Нет, — честно ответил Гарри. — Но другого выхода нет». Он остановился перед высокой дверью, из-под которой пробивался зелёный свет. Палочка описала сложное движение: *«Revelio Maxima!»* — и дверь со скрежетом распахнулась, явив им пыльный кабинет с летающими свитками...\n\n---\n\n**Теперь напиши полный текст главы, строго следуя этим правилам и используя все переданные входные данные.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8096,
        560
      ],
      "id": "4674426c-b995-4368-813c-0d41ad66d5b5",
      "name": "each_chapter_plot_creator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"chapter_num\": 1,\n  \"chapter_name\": \"Пепел клана Такеда\",\n  \"chapter_plot\": \"Глава открывается горным замком клана Такеда...\",\n  \"chapter_beginning\": \"Глава начинается с того, что Мицуши приходит в себя среди тел...\",\n  \"chapter_end\": \"Глава заканчивается тем, что Мицуши выходит из ворот замка...\",\n  \"chapter_plot_impact\": \"Глава задаёт трагическую отправную точку...\",\n  \"next_chapter_connection\": \"Пробудившийся Soul Whisper Link и голоса мёртвых...\",\n  \"previous_chapter_connection\": \"Нет\",\n  \"chapter_characters\": [\"Такеда Мицуши\", \"Акэми Такеда\", \"Слуга Дайти\", \"Неизвестный путник\"],\n  \"chapter_spells\": [\"Lumos\", \"Soul Whisper Link\", \"Accio\"],\n  \"chapter_potions\": [\"Яд Безмолвного Колокола\"],\n  \"chapter_characters_descriptions\": {\n    \"Такеда Мицуши\": \"Последний выживший наследник клана Такеда, носитель проклятой катаны.\",\n    \"Акэми Такеда\": \"Младшая сестра Мицуши, её душа поглощена клинком.\",\n    \"Слуга Дайти\": \"Верный старый слуга, погибший во время резни.\",\n    \"Неизвестный путник\": \"Описание отсутствует\"\n  },\n  \"chapter_spells_descriptions\": {\n    \"Lumos\": \"Заклинание света, в адаптации «Клинок Рассвета» зажигает холодное свечение на лезвии катаны.\",\n    \"Soul Whisper Link\": \"Проклятая способность катаны поглощать голоса и души убитых, позволяя общаться с ними.\",\n    \"Accio\": \"Описание отсутствует\"\n  },\n  \"chapter_potions_descriptions\": {\n    \"Яд Безмолвного Колокола\": \"Некромантический яд, убивающий без звука и ран, оставляя тела нетленными.\"\n  },\n  \"chapter_paragraphs_count\": 27\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        7552,
        800
      ],
      "id": "5c508efd-56fc-4d36-99f2-3afd401fdf39",
      "name": "Structured Output Parser5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "all_chapters_source_data_validator",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7040,
        352
      ],
      "id": "8691f2bb-30d1-42c6-8ed1-6d170e482ac8",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json.output) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        7376,
        144
      ],
      "id": "47e5d011-d3a6-4929-94fc-7c43d860d8f9",
      "name": "chapter_source_data_to_json_cache"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "each_chapter_plot",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7264,
        352
      ],
      "id": "dc384682-a340-4ad1-ac0b-b49747ee632c",
      "name": "chapter_source_data_to_json_storage"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7152,
        544
      ],
      "id": "020ae283-2416-47df-8e97-e0bc601b91ca",
      "name": "chapter_source_data_to_json_loop",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Приступай к формированию итоговой json - структуры!",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — JSON-парсер. Твоя единственная задача — взять входные данные и вернуть их строго в структуре, описанной ниже.\n\n**ПРАВИЛА ВЫПОЛНЕНИЯ (КРИТИЧЕСКИ ВАЖНО):**\n1. Твой ответ должен начинаться с символа `{` и заканчиваться символом `}`.\n2. Запрещено добавлять любой текст до `{` или после `}`. Запрещены комментарии и обёртки вроде `{\"output\": ...}` или ` ``json `.\n3. Если в ответе будет хотя бы один лишний символ вне JSON, задача считается проваленной.\n\n**СТРУКТУРА ОТВЕТА (Используй ТОЛЬКО её):**\n```json\n{\n  \"chapter_num\": number,\n  \"chapter_name\": \"string\",\n  \"chapter_plot\": \"string\",\n  \"chapter_beginning\": \"string\",\n  \"chapter_end\": \"string\",\n  \"chapter_plot_impact\": \"string\",\n  \"next_chapter_connection\": \"string\",\n  \"previous_chapter_connection\": \"string\",\n  \"chapter_characters\": [\"string\"],\n  \"chapter_spells\": [\"string\"],\n  \"chapter_potions\": [\"string\"],\n  \"chapter_characters_descriptions\": { \"key\": \"value\" },\n  \"chapter_spells_descriptions\": { \"key\": \"value\" },\n  \"chapter_potions_descriptions\": { \"key\": \"value\" },\n  \"chapter_paragraphs_count\": number\n}\n```\n\nЛГОРИТМ ОБРАБОТКИ (Выполни по шагам):\n\n    1. Извлеки данные из исходных данных (на входе будет JSON).\n    2. Приведи типы строго по правилам ниже, НЕ МЕНЯЯ смысл текста.\n    3. Добавь недостающие поля (если их нет во входных данных) со значениями по умолчанию: \"\" для строк, [] для массивов, {} для объектов, 0 для чисел.\n    4. Верни результат как единую строку JSON без форматирования или с минимальным форматированием (без переносов строк, если не указано иное).\n\nВХОДНЫЕ ДАННЫЕ:\n```\n{{ $json.output }}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7408,
        560
      ],
      "id": "edb764f5-700b-46b0-9d3d-72d41f11e626",
      "name": "chapter_source_data_to_json",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -208,
        -272
      ],
      "id": "8f0e2865-c1cd-4448-8591-831c39e71ffb",
      "name": "Claude_Opus_4.6",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "responseFormat": "text",
          "timeout": 1440000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3952,
        400
      ],
      "id": "ec0dea56-1a7a-4bc0-85e8-7d10d13a0d6f",
      "name": "Claude_Sonnet_4.6",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2160,
        1424
      ],
      "id": "129d9c8b-5bab-4ee4-97b6-4d0ac6f32869",
      "name": "Qwen_3.5_397b1",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2176,
        704
      ],
      "id": "9483dd1e-e092-440f-b778-55cb293f236c",
      "name": "Qwen_3.5_397b2",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2144,
        16
      ],
      "id": "e840b98d-14df-420b-a2a6-3e251cf3e07c",
      "name": "Qwen_3.5_397b3",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1216,
        -912
      ],
      "id": "19d42792-f6c2-4c48-983b-de06153dd004",
      "name": "Qwen_3.5_397b4",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1216,
        -224
      ],
      "id": "c3bc8c23-6d1d-43bd-a684-4837c69102aa",
      "name": "Qwen_3.5_397b5",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-397b-a17b",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1216,
        464
      ],
      "id": "3c8e50c6-98f7-403b-9bd5-e38c49604bd7",
      "name": "Qwen_3.5_397b6",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "book"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        8336,
        128
      ],
      "id": "cbb84b4b-3044-4ffe-b0ac-97888858da5f",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=book",
        "include": "=",
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        8528,
        128
      ],
      "id": "28b3c373-78cd-4752-9bac-a7143cbc01c9",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8960,
        128
      ],
      "id": "4151f02d-e863-4ec2-87c8-0e6c0bd2d2ff",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "506c17b4-f793-45ad-a1c3-75ae44298a2e",
              "name": "text",
              "value": "={{ $json.book.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8736,
        128
      ],
      "id": "6c2cbbd3-2236-4ca3-b237-6021e2b2db7f",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\n// Извлекаем данные из объектов (не массивов)\nconst title = inputs[0]?.json?.output || 'Без названия';\nconst content = inputs[1]?.json?.result || '';\nconst toc = inputs[2]?.json?.output || '';\n\n// Собираем Markdown\nlet markdown = `# ${title}\\n\\n`;\nif (toc) markdown += `${toc}\\n\\n`;\nmarkdown += `## Текст произведения\\n\\n${content}`;\n\n// Формируем имя файла (заменяем недопустимые символы)\nconst fileName = `${title.replace(/[\\\\/:*?\"<>|]/g, '_')}.md`;\nconst base64Data = Buffer.from(markdown, 'utf8').toString('base64');\n\n// Возвращаем бинарный файл для скачивания\nreturn {\n  binary: {\n    [fileName]: {\n      data: base64Data,\n      mimeType: 'text/markdown',\n      fileName: fileName\n    }\n  },\n  json: {}   // пустой JSON, чтобы чат не показывал лишнего\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10400,
        128
      ],
      "id": "c853321d-6cad-4aca-8eeb-3211b77120fb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        9664,
        432
      ],
      "id": "7c4cf274-12b7-4e28-9f06-b47bbc652230",
      "name": "table_of_contents_cache"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "responseFormat": "text",
          "timeout": 1440000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6656,
        1024
      ],
      "id": "5f5788b1-74a6-4657-8db6-5ed32b77a87c",
      "name": "Claude_Sonnet_4.7",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "responseFormat": "text",
          "timeout": 1440000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9712,
        864
      ],
      "id": "c2b4446a-376b-4b2f-83b3-aeafdc490640",
      "name": "Claude_Sonnet_4.",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Теперь твой текст для анализа:\n{{ $node['merge_all_chapters'].json.result }}",
        "options": {
          "systemMessage": "=# Твоя задача — проанализировать предоставленный текст художественного или документального произведения и составить его оглавление c использования Markdown-разметки\n\n# Требования к выводу:\n\n    1. В самом начале выведи слово «Оглавление» (с большой буквы, без кавычек).\n    2. Затем для каждой главы произведения укажи:\n        a) номер главы (арабскими цифрами, начиная с 1);\n        b) название главы.\n\n        Номера страниц указывать не нужно.\n\n    3. Формат каждой строки: «Глава X. Название главы» (без лишних пробелов, точка после номера обязательна).\n    4. Если в тексте главы не пронумерованы, пронумеруй их по порядку следования.\n    5. Если в тексте есть явные заголовки глав (например, «Глава 1. Вступление» или просто «Вступление»), используй их названия. Если заголовка нет, придумай краткое (3–7 слов) информативное название, отражающее содержание главы.\n    6. Разделяй главы переносом строки (по одной строке на главу).\n\n# Пример ожидаемого вывода (для вымышленного текста):\n**Оглавление**\n**Глава 1. Рождение героя**\n**Глава 2. Первое испытание**\n**Глава 3. Путь к замку**\n\nВажно: Работай только с тем текстом, который будет передан после этой инструкции. Если произведение не разделено на главы, сообщи об этом фразой «Произведение не имеет глав» и больше ничего не выводи.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9712,
        640
      ],
      "id": "6d971624-8f0e-4848-abba-6c84aa3dcef6",
      "name": "table_of_contents_creator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "responseFormat": "text",
          "timeout": 1440000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9712,
        16
      ],
      "id": "75987682-91db-47e7-963a-5289666d94a0",
      "name": "Claude_Sonnet_4.1",
      "credentials": {
        "openRouterApi": {
          "id": "MLTe0R5A3T1E5baT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "cacheKeyFields": "=={{ JSON.stringify($json) }}",
        "ttl": 1000,
        "cacheDir": "/home/node/.n8n/smartcache"
      },
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [
        9664,
        -416
      ],
      "id": "ab9f3575-b11a-41b1-a6be-f9e7870171f2",
      "name": "book_title_cache"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Текст произведения:\n{{ $node['merge_all_chapters'].json.result }}",
        "options": {
          "systemMessage": "=# Твоя задача — придумать название для литературного произведения на основе предоставленного текста (или его фрагмента).\n\n# Проанализируй следующие аспекты:\n\n    1. Основную тему и ключевую идею.\n    2. Главного героя или центральный конфликт.\n    3. Жанр и настроение (например, драма, комедия, триллер, фантастика, лирика).\n    4. Самые яркие образы, метафоры или события.\n\n# Название должно быть:\n\n    1. кратким (от 1 до 5 слов, в редких случаях до 7);\n    2. запоминающимся и выразительным;\n    3. отражать суть произведения, но без спойлеров к развязке (если это не художественный приём);\n    4. соответствовать стилистике и эпохе текста (если применимо).\n\n# Избегай клише, общих фраз («Любовь и смерть», «Новая жизнь») и названий, которые уже широко известны в мировой литературе.\n\n# Формат вывода: только одно название — без кавычек, без дополнительных пояснений, без нумерации."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9712,
        -208
      ],
      "id": "d0862524-ae0f-425f-8b29-df1914dd59b2",
      "name": "book_title_creator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        10080,
        112
      ],
      "id": "7d30ab86-0612-412d-a0b7-d6208d2cb13d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();               // все элементы\nconst resultString = items.map(item => item.json.text).join('\\n\\n');\nreturn [{ json: { result: resultString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9264,
        128
      ],
      "id": "0cac65c3-9772-435b-ad5b-271863bf5421",
      "name": "merge_all_chapters"
    }
  ],
  "pinData": {},
  "connections": {
    "Input message": {
      "main": [
        [
          {
            "node": "prompt_analyzer_cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "character_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "character_checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "spell_checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "potion_checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "spell_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "potion_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "plot_params_creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "prompt_analyzer": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plot_creator": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plot_params_creator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "character_to_plot": {
      "main": [
        [
          {
            "node": "character_to_plot_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "character_checker": {
      "main": [
        [
          {
            "node": "character_checker_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "character_creater": {
      "main": [
        [
          {
            "node": "character_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_creater": {
      "main": [
        [
          {
            "node": "spell_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_to_plot": {
      "main": [
        [
          {
            "node": "spell_to_plot_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "potion_to_plot": {
      "main": [
        [
          {
            "node": "potion_to_plot_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "potion_creater": {
      "main": [
        [
          {
            "node": "potion_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "all_potions_storage": {
      "main": [
        [
          {
            "node": "potion_creater_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "all_spells_storage": {
      "main": [
        [
          {
            "node": "spell_creater_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "all_characters_storage": {
      "main": [
        [
          {
            "node": "character_creater_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "main_plot_generator": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_plot_validator": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_generator": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_validator": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_to_json": {
      "main": [
        [
          {
            "node": "ready_chapter_to_json",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "chapter_to_json",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "prompt_analyzer_cache": {
      "main": [
        [
          {
            "node": "plot_creator_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prompt_analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plot_creator_cache": {
      "main": [
        [
          {
            "node": "plot_params_creator_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "plot_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plot_params_creator_cache": {
      "main": [
        [
          {
            "node": "spell_to_plot_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "potion_to_plot_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "character_to_plot_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "plot_params_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "character_to_plot_cache": {
      "main": [
        [
          {
            "node": "character_checker_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "character_to_plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "character_checker_cache": {
      "main": [
        [
          {
            "node": "character_creater_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "character_checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "character_creater_cache": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_to_plot_cache": {
      "main": [
        [
          {
            "node": "spell_checker_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "spell_to_plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_checker": {
      "main": [
        [
          {
            "node": "spell_checker_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "spell_checker_cache": {
      "main": [
        [
          {
            "node": "spell_creater_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "spell_checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "potion_to_plot_cache": {
      "main": [
        [
          {
            "node": "potion_checker_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "potion_to_plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "potion_checker": {
      "main": [
        [
          {
            "node": "potion_checker_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "potion_checker_cache": {
      "main": [
        [
          {
            "node": "potion_creater_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "potion_checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_creater_cache": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "potion_creater_cache": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_plot_generator_cache": {
      "main": [
        [
          {
            "node": "main_plot_validator_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "main_plot_generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "potion_loop": {
      "main": [
        [
          {
            "node": "all_potions_storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "potion_creater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spell_loop": {
      "main": [
        [
          {
            "node": "all_spells_storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "spell_creater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "character_loop": {
      "main": [
        [
          {
            "node": "all_characters_storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "character_creater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "main_plot_generator_cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "prompt_analyzer_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "plot_creator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "plot_params_creator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "main_plot_generator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "main_plot_validator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "main_plot_validator_cache": {
      "main": [
        [
          {
            "node": "chapter_generator_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "main_plot_validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_generator_cache": {
      "main": [
        [
          {
            "node": "chapter_validator_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_validator_cache": {
      "main": [
        [
          {
            "node": "ready_chapter_to_json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "chapter_generator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "chapter_validator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ready_chapter_to_json": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_to_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector1": {
      "main": [
        [
          {
            "node": "chapter_source_data_validator1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector_storage": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "chapter_source_data_validator_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector_storage1": {
      "main": [
        [
          {
            "node": "chapter_source_data_validator1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "chapter_source_data_validator1": {
      "main": [
        [
          {
            "node": "chapter_source_data_to_json_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_validator2": {
      "main": [
        [
          {
            "node": "chapter_source_data_validator_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector_loop": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector_storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_source_data_collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_validator_loop": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector_storage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_source_data_validator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "each_chapter_plot_creator_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_collector_storage2": {
      "main": [
        [
          {
            "node": "each_chapter_plot_creator_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "each_chapter_plot_creator_cache": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "each_chapter_plot_creator_loop": {
      "main": [
        [
          {
            "node": "chapter_source_data_collector_storage2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "each_chapter_plot_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "each_chapter_plot_creator": {
      "main": [
        [
          {
            "node": "each_chapter_plot_creator_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "chapter_source_data_to_json",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "chapter_source_data_to_json_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_to_json_cache": {
      "main": [
        [
          {
            "node": "each_chapter_plot_creator_cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_to_json_storage": {
      "main": [
        [
          {
            "node": "chapter_source_data_to_json_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "chapter_source_data_to_json_loop": {
      "main": [
        [
          {
            "node": "chapter_source_data_to_json_storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chapter_source_data_to_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chapter_source_data_to_json": {
      "main": [
        [
          {
            "node": "chapter_source_data_to_json_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude_Opus_4.6": {
      "ai_languageModel": [
        [
          {
            "node": "prompt_analyzer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "plot_creator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "plot_params_creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude_Sonnet_4.6": {
      "ai_languageModel": [
        [
          {
            "node": "main_plot_generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "chapter_to_json",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "chapter_validator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "chapter_generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "main_plot_validator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b1": {
      "ai_languageModel": [
        [
          {
            "node": "character_creater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b2": {
      "ai_languageModel": [
        [
          {
            "node": "spell_creater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b3": {
      "ai_languageModel": [
        [
          {
            "node": "potion_creater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b4": {
      "ai_languageModel": [
        [
          {
            "node": "potion_to_plot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "potion_checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b5": {
      "ai_languageModel": [
        [
          {
            "node": "spell_to_plot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "spell_checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qwen_3.5_397b6": {
      "ai_languageModel": [
        [
          {
            "node": "character_to_plot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "character_checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "merge_all_chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "table_of_contents_cache": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "table_of_contents_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude_Sonnet_4.7": {
      "ai_languageModel": [
        [
          {
            "node": "chapter_source_data_collector",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "chapter_source_data_validator2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "each_chapter_plot_creator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "chapter_source_data_to_json",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude_Sonnet_4.": {
      "ai_languageModel": [
        [
          {
            "node": "table_of_contents_creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "table_of_contents_creator": {
      "main": [
        [
          {
            "node": "table_of_contents_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Claude_Sonnet_4.1": {
      "ai_languageModel": [
        [
          {
            "node": "book_title_creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "book_title_cache": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "book_title_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "book_title_creator": {
      "main": [
        [
          {
            "node": "book_title_cache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge_all_chapters": {
      "main": [
        [
          {
            "node": "book_title_cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "table_of_contents_cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 5
  },
  "versionId": "0c6d3ad2-45b4-41fb-85e6-6b861b2351db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "693f83259d1dd60faef54c62d2ee5e5e79bd0823b3ca832b0379e0381994dd0a"
  },
  "id": "Tk8Zv1VPB0S556cV",
  "tags": []
}